				<!-- onprem-se-->
				<a href="/"><img src="/site/images/logo@3x.png" alt="logo" class="logo" /></a>
				<div>
					<div class="error-container"></div>
				</div>
				<form action="" id="signUpForm" class="create-form" >
					<ul>
						<li class="oauth-list">
							<span class="input-con"><input class="email" name="email" type="text" placeholder="Email" /></span>
							<span class="input-con"><input class="user-name" name="username" type="text" placeholder="User Name" maxlength="20" /></span>
							<span class="input-con"><input type="submit" Value="Sign Up" /></span>
						</li>
					</ul>
				</form>
					<ul>
						<li>
							<a id='signIn' href="#">Already have an account? Login here&hellip;</a>
						</li>
					</ul>