				<a href="/"><img src="/site/images/logo@3x.png" alt="logo" class="logo" /></a>
				<h2>Codenvy is free for an unlimited number of projects and developers.</h2>
				<div>
					<div class="error-container"></div>
				</div>
				<form action="" id="signUpForm" class="create-form" >
					<ul>
						<li class="oauth-list">
							<span class="input-con"><input class="email" name="email" type="text" placeholder="Email" /></span>
							<span class="input-con"><input class="user-name" name="username" type="text" placeholder="User Name" maxlength="20" /></span>
							<span class="input-con"><input type="submit" Value="Sign Up" /></span>
						</li>
					</ul>
				</form>
					<ul>
						<li>
							<p>By signing up, you agree to the
								<a href = "/tos">Terms of Service</a> and the
								<a href = "/privacy" title = "Privacy Policy">Privacy Policy</a>
							</p>
						</li>
						<br>
						<li>
							<a id='signIn' href="#">Already have an account? Login here&hellip;</a>
						</li>
					</ul>