				<a href="/"><img src="/site/images/logo@3x.png" alt="logo" class="logo" /></a>
				<div>
					<div class="error-container"></div>
				</div>
				<form action="javascript:void(0);" id="loginForm" class="login-form">
					<ul>
						<li class="oauth-list">
							<span class="input-con">
								<input class="username" id="username" name="username" type="text" placeholder="User Name" />
							</span>
							<span class="input-con">
								<input name="password" type="password" placeholder="Your Password">
							</span>
							<span class="input-con"><input type="submit" Value="Login" /></span>
						</li>
					</ul>
				</form>
				<ul>
					<li>
						<a href="/site/recover-password">Reset Your Password</a>
					</li>
					<li>
						<a id='signUp' href="#"></a>
					</li>
				</ul>