<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="author" content="Codenvy">
        <meta name="description" content="Codenvy IDE, A multi-tenant, hosted development environment that enables social coding - the collaborative development of applications, gadgets and mashups that can be deployed to a PaaS.">
        <meta name="keywords" content="Codenvy, Cloud IDE, Java IDE, online IDE, web IDE, development environment, IDE, cloud, JavaScript, Java, Spring, Groovy, Ruby, PHP, code, deploy">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{'/styles/main.css' | resource }}">
        <link rel="shortcut icon" href="{{'/images/favicon.ico' | resource }}" />
        <script src="{{'/scripts/vendor/modernizr.custom.29458.js' | resource }}"></script>
    </head>
    <body class="responsive">

        <header>
            <div class="container">
                     <div class="focused-logo"><a href="/"><img src="/images/logoCodenvyBig.png"></a></div>
            </div>
        </header>

        {{ content }}


        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        {% include uservoice.html %}
        {% include google-analytics.html %}

    <!-- build:js scripts/amd-app.js -->
    <script data-main="scripts/main" src="scripts/vendor/require.js"></script>
    <!-- endbuild -->
</body>
</html>
