<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="author" content="Codenvy">
        <meta name="description" content="Industrial-strength cloud IDE for developers and enterprise teams. Java IDE with support for PHP, Python, Ruby, JavaScript, Android, and more.">
        <meta name="keywords" content="Codenvy, Cloud IDE, Java IDE, online IDE, web IDE, development environment, IDE, cloud, JavaScript, Java, Spring, Groovy, Ruby, PHP, code, deploy">
        <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width,user-scalable=no" />

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{'/site/styles/main.css' | resource}}">
		<link rel="stylesheet" href="{{ '/site/styles/component.css' | resource }}">
		<link rel="stylesheet" href="{{ '/site/styles/animations.css' | resource }}">
        <link rel="shortcut icon" href="{{'/site/images/favicon.ico' | resource}}" />
        <script src="{{'/site/scripts/vendor/modernizr.custom.29458.js' | resource}}"></script>
    </head>
    <body class="responsive">

        <header>
            <div class="container" style="overflow:visible;">
                <div class="row">
                    <div class="span12 logo-wrapper">
                        <a class="logo" href="/">
                            <h1>
                                <span>Codenvy</span>
                            </h1>
                        </a>
                    </div>
                </div>
            </div>
        </header>

        <div class="content">
            {{ content }}
        </div>

        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        {% include application-script.html %}

        {% if site.profile != "enterprise" %}
            <!-- Including Codenvy Trackers -->
            {% include pingdom.html %}
            {% include google-analytics.html %}
        {% endif %}
</body>
</html>
