<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="author" content="Codenvy">
        <meta name="description" content="Industrial-strength cloud IDE for developers and enterprise teams. Java IDE with support for PHP, Python, Ruby, JavaScript, Android, and more.">
        <meta name="keywords" content="Codenvy, Cloud IDE, Java IDE, online IDE, web IDE, development environment, IDE, cloud, JavaScript, Java, Spring, Groovy, Ruby, PHP, code, deploy">
        <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width,user-scalable=no" />
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="{{ '/site/styles/main.css' | resource }}">
        <link rel="shortcut icon" href="{{'/site/images/favicon.ico' | resource}}" />
        <script src="{{'/site/scripts/vendor/modernizr.custom.29458.js' | resource}}"></script>
    </head>
    <body class="responsive">

        <header>
            <div class="container" style="overflow:visible;">
                <div class="row">
                    <div class="span3 logo-wrapper">
                        <a class="logo" href="/">
                            <h1>
                                <span>Codenvy</span>
                            </h1>
                        </a>
                    </div>
                    <!-- <div class="span6">
                        <nav>
                            <ul class="main-menu">
                                <li><a href="{{'features.html' | url}}">Features</a></li>
                                <li><a href="{{'success-stories.html' | url}}">Stories</a></li>
                                <li><a href="{{'pricing.html' | url}}">Pricing</a></li>
                                <li><a href="{{'enterprise.html' | url}}">Enterprise</a></li>
                                <li><a href="{{'ISV.html' | url}}">ISV</a></li>
                            </ul>
                        </nav>
                    </div> -->
                    <div class="span4 sign-in-button-wrapper right show-on-tablet-desktop">
                        <a class="sign-up-button button-100 header-signup-button" href="/sso/server/logout">Logout</a>
                    </div>
                </div>
            </div>
        </header>

        <div class="content">
            {{ content }}
        </div>

       <!--  <footer>
            <nav>
                <ul>
                    <li><a class="footer-link" href="{{'features.html' | url}}">Features</a></li>
                    <li><a class="footer-link" href="{{'success-stories.html' | url}}">Stories</a></li>
                    <li><a class="footer-link" href="{{'pricing.html' | url}}">Pricing</a></li>
                    <li><a class="footer-link" href="{{'enterprise.html' | url}}">Enterprise</a></li>
                    <li><a class="footer-link" href="{{'ISV.html' | url}}">ISV</a></li>
                    <li><a class="footer-link" href="http://docs.codenvy.com">Documentation</a></li>
                    <li><a class="footer-link" href="{{'about.html' | url}}">About</a></li>
                    <li><a class="footer-link" href="{{'jobs.html' | url}}">Jobs</a></li>
                    <li><a class="footer-link" href="#" onclick="UserVoice.showPopupWidget();">Contact</a></li>
                    <li><a class="footer-link" href="http://blog.codenvy.com" target="_blank">Blog</a></li>
                    <li><a class="footer-link" href="http://facebook.com/codenvy" target="_blank">Facebook</a></li>
                    <li><a class="footer-link" href="http://twitter.com/codenvyhq" target="_blank">Twitter</a></li>
                    <li><a class="footer-link" href="https://plus.google.com/107609748911740614195" target="_blank" rel="publisher">Google+</a></li>
                </ul>
            </nav>
        </footer> -->


        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->
        {% include application-script.html %}

        {% if site.profile != "enterprise" %}
                <!-- Including Codenvy Trackers -->
            {% include google-analytics.html %}
            {% include marketo.html %}
            {% include pingdom.html %}
            {% include act-on.html %}
        {% endif %}

</body>
</html>
