.list-team-owners-section
  max-width 600px

.list-team-owners
  margin-bottom 20px

  .che-list
    margin 0px

  .che-list-header-content *
    margin 0px

  .che-list-header md-item
    border-top none
