<!--

    CODENVY CONFIDENTIAL
    __________________

     [2015] - [2016] Codenvy, S.A.
     All Rights Reserved.

    NOTICE:  All information contained herein is, and remains
    the property of Codenvy S.A. and its suppliers,
    if any.  The intellectual and technical concepts contained
    herein are proprietary to Codenvy S.A.
    and its suppliers and may be covered by U.S. and Foreign Patents,
    patents in process, and are protected by trade secret or copyright law.
    Dissemination of this information or reproduction of this material
    is strictly forbidden unless prior written permission is obtained
    from Codenvy S.A..

-->
<che-toolbar che-title="User Management"></che-toolbar>
<md-content flex md-scroll-y md-theme="maincontent-theme" class="admins-user-management">
  <md-progress-linear md-mode="indeterminate" ng-if="adminsUserManagementCtrl.isLoading"></md-progress-linear>
  <div ng-if="!adminsUserManagementCtrl.isLoading">
    <che-list-header flex="100"
                     che-input-placeholder="Search"
                     che-search-model="adminsUserManagementCtrl.userFilter.name"
                     che-hide-search="adminsUserManagementCtrl.users.length === 0"
                     che-add-button-title="Add User"
                     che-on-add="adminsUserManagementCtrl.showAddUserDialog($event)"
                     che-delete-button-title="Delete"
                     che-on-delete="adminsUserManagementCtrl.deleteSelectedUsers()"
                     che-hide-delete="adminsUserManagementCtrl.isNoSelected"
                     che-hide-header="(adminsUserManagementCtrl.users | filter:adminsUserManagementCtrl.userFilter).length === 0">
      <div flex="100"
           layout="row"
           layout-align="start stretch"
           class="che-list-item-row">
        <div layout="column" layout-gt-xs="row"
             layout-align="start center"
             class="che-checkbox-area">
          <div layout="row" layout-align="start center" class="che-list-item-checkbox-main">
            <md-checkbox class="che-list-item-checkbox"
                         aria-label="Bulk check on users"
                         ng-checked="adminsUserManagementCtrl.isBulkChecked"
                         ng-click="adminsUserManagementCtrl.changeBulkSelection()"></md-checkbox>
          </div>
        </div>
        <div flex hide-xs layout-gt-xs="row"
             layout-align="start center"
             class="che-list-item-details">
          <che-list-header-column flex-gt-xs="50"
                                  che-sort-value='adminsUserManagementCtrl.userOrderBy'
                                  che-sort-item='email'
                                  che-column-title='Email'></che-list-header-column>
          <che-list-header-column flex-gt-xs="25"
                                  che-sort-value='adminsUserManagementCtrl.userOrderBy'
                                  che-sort-item='name'
                                  che-column-title='Login'></che-list-header-column>
          <che-list-header-column flex-gt-xs="25"
                                  che-column-title='Actions'></che-list-header-column>
        </div>
      </div>
    </che-list-header>
    <che-list flex ng-if="adminsUserManagementCtrl.users && adminsUserManagementCtrl.users.length > 0">
      <che-list-item
              ng-repeat="user in adminsUserManagementCtrl.users | orderBy:adminsUserManagementCtrl.userOrderBy | filter:adminsUserManagementCtrl.userFilter"
              flex-gt-sm="100" flex="33"
              ng-mouseover="hover=true"
              ng-mouseout="hover=false">
        <div flex="100"
             layout="row"
             layout-align="start stretch"
             class="che-list-item-row">
          <div layout="row"
               layout-align="start center"
               class="che-checkbox-area">
            <che-list-item-checked ng-model="adminsUserManagementCtrl.usersSelectedStatus[user.id]"
                                   ng-click="adminsUserManagementCtrl.updateSelectedStatus()"
                                   che-aria-label-checkbox="User {{user.id}}"></che-list-item-checked>
          </div>
          <div flex
               layout-xs="column" layout-gt-xs="row"
               layout-align-gt-xs="start center"
               layout-align-xs="start start"
               class="che-list-item-details">
            <div flex-gt-xs="50"
                 class="che-list-item-name">
              <span class="che-xs-header noselect" hide-gt-xs>Email</span>
              <span><img class="user-face" gravatar-src="user.email"></span>
              <span class="user-email">{{user.email}}</span>
            </div>
            <div flex-gt-xs="25">
              <span class="che-xs-header noselect" hide-gt-xs>Login</span>
              <span class="user-description">{{user.name}}</span>
            </div>
            <div flex-gt-xs="25">
              <span class="che-xs-header noselect" hide-gt-xs>Actions</span>
                  <span class="che-list-actions">
                    <div ng-click="adminsUserManagementCtrl.removeUser($event, user);" tooltip="Remove user">
                      <span class="material-design icon-ic_remove_circle_outline_24px"></span>
                    </div>
                  </span>
            </div>
          </div>
        </div>
      </che-list-item>
      <div class="paging-buttons-area" ng-if="adminsUserManagementCtrl.isPagination()">
        <md-button
                ng-disabled="!adminsUserManagementCtrl.hasPreviousPage()"
                ng-click="adminsUserManagementCtrl.fetchUsersPage('first');">
          <span><<</span>
        </md-button>
        <md-button
                ng-disabled="!adminsUserManagementCtrl.hasPreviousPage()"
                ng-click="adminsUserManagementCtrl.fetchUsersPage('prev');">
          <span><</span>
        </md-button>
        <md-button disabled>
          <span>{{adminsUserManagementCtrl.pagesInfo.currentPageNumber}}</span>
        </md-button>
        <md-button
                ng-disabled="!adminsUserManagementCtrl.hasNextPage()"
                ng-click="adminsUserManagementCtrl.fetchUsersPage('next');">
          <span>></span>
        </md-button>
        <md-button
                ng-disabled="!adminsUserManagementCtrl.hasNextPage()"
                ng-click="adminsUserManagementCtrl.fetchUsersPage('last');">
          <span>>></span>
        </md-button>
      </div>
    </che-list>
    <div class="che-list-empty">
        <span ng-show="adminsUserManagementCtrl.users.length > 0 && (adminsUserManagementCtrl.users | filter:adminsUserManagementCtrl.userFilter).length === 0">
          No users found
        </span>
      <span ng-show="adminsUserManagementCtrl.users.length === 0">There are no users yet</span>
    </div>
  </div>
</md-content>
