/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

.flexTableMain  {
	font-size: 1em;
	color: white;
}

button.mainmenu {
	width: 96px;
	text-align: center;
}

table.query {
	border-width: 1px;
	border-spacing: 5px;
	border-style: none;
	border-color: gray;
	border-collapse: separate;
	background-color: white;
}

table.query th {
	border-width: 1px;
	padding: 1px;
	border-style: dotted;
	border-color: gray;
	background-color: #44484b;
	-moz-border-radius:;
}

table.query td {
	border-width: 1px;
	padding: 1px;
	border-style: dotted;
	border-color: gray;
	background-color: #595e62;
	-moz-border-radius:;
}
