.license-issue-message
  min-width 520px
  min-height 38px

  & > span
    display inline-block
    width 100%
    margin-bottom 10px
    margin-top 10px
    font-size 14px

  che-button-primary
    float right

  button
    margin-right 0
    margin-bottom 0
