
@font-face {
  font-family: CodeEnvy;
  src: url('../fonts/regular.otf');
}


@mixin image_logo {
	background:{
		image:url('../images/logoCodenvy.png');
		repeat:no-repeat;
	}
}

@mixin image_totem {
	background:{
		image:url('../images/codenvyTotem.png');
		repeat:no-repeat;
	}
}

@mixin image_small_dot {
	background:{
		image:url('../images/dotLittleguy.png');
		repeat:no-repeat;
		position:0 12px;
	}
}

@mixin image_big_dot {
	background:{
		image:url('../images/dotMaous.png');
		repeat:no-repeat;
		position:0 9px;
	}
}

@mixin content_totem {
	content:url('../images/codenvyTotem.png');
	text-align: right;
	padding-top: 30px;
	padding-right: 20px;
}

@mixin bg_scene {
	background:{
		image:url('../images/sceneBackground.png');
		repeat:repeat-x;
	}
}

@mixin image_button_github {
    background:{
        image:url('../images/buttonoffGithub.png');
        repeat:no-repeat;
    }
}

@mixin image_button_google {
    background:{
        image:url('../images/buttonoffGoogle.png');
        repeat:no-repeat;
    }
}

@mixin image_line_full {
    background:{
        image:url('../images/lineFull.png');
        repeat:no-repeat;
        position: 50% 0;
    }
}

@mixin image_line_light {
    background:{
        image:url('../images/lineLight.png');
        repeat:no-repeat;
        position: 50% 100%;
    }
}

@mixin icon_cloud {
    background:{
        image:url('../images/iconCloud.png');
        repeat:no-repeat;
        position: 50% 0;
    }
}

@mixin icon_lighting {
    background:{
        image:url('../images/iconLighting.png');
        repeat:no-repeat;
        position: 50% 0;
    }
}

@mixin icon_user {
    background:{
        image:url('../images/iconUser.png');
        repeat:no-repeat;
        position: 50% 0;
    }
}
