
@font-face {
  font-family: CodeEnvy;
  src: url('../fonts/regular.otf');
}

@font-face {
  font-family: ProximaNova;
  src: url('../fonts/proximanova/ProximaNova-Regular.otf');
}


@mixin image_logo {
	background:{
		image:url('../images/logoCodenvy.png');
		repeat:no-repeat;
	}
}

@mixin image_totem {
	background:{
		image:url('../images/codenvyTotem.png');
		repeat:no-repeat;
        position: 65% 40%;
	}
}

@mixin image_small_dot {
	background:{
		image:url('../images/dotLittleguy.png');
		repeat:no-repeat;
		position:0 12px;
	}
}

@mixin image_big_dot {
	background:{
		image:url('../images/dotMaous.png');
		repeat:no-repeat;
		position:0 9px;
	}
}

@mixin content_totem {
	content:url('../images/codenvyTotem.png');
	text-align: right;
	padding-top: 30px;
	padding-right: 20px;
}

@mixin bg_scene {
	background:{
		image:url('../images/sceneBackground.png');
		repeat:repeat-x;
	}
}

@mixin image_button_github {
    background:{
        image:url('../images/buttonoffGithub.png');
        repeat:no-repeat;
    }
}

@mixin image_button_google {
    background:{
        image:url('../images/buttonoffGoogle.png');
        repeat:no-repeat;
    }
}

@mixin image_line_full {
    background:{
        image:url('../images/lineFull.png');
        repeat:no-repeat;
        position: 50% 0;
    }
}

@mixin image_line_or {
    background:{
        image:url('../images/lineOr.png');
        repeat:no-repeat;
        position: 50% 0;
    }
}

@mixin image_line_light {
    background:{
        image:url('../images/lineLight.png');
        repeat:no-repeat;
        position: 50% 100%;
    }
}

@mixin icon_cloud {
    background:{
        image:url('../images/iconCloud.png');
        repeat:no-repeat;
        position: 50% 0;
    }
}

@mixin icon_house {
    background:{
        image:url('../images/iconHouse.png');
        repeat:no-repeat;
        position: 50% 0;
    }
}

@mixin icon_lock {
    background:{
        image:url('../images/iconLock.png');
        repeat:no-repeat;
        position: 50% 0;
    }
}

@mixin icon_plug {
    background:{
        image:url('../images/iconPlug.png');
        repeat:no-repeat;
        position: 50% 0;
    }
}

@mixin icon_scale {
    background:{
        image:url('../images/iconScale.png');
        repeat:no-repeat;
        position: 50% 0;
    }
}

@mixin icon_browser {
    background:{
        image:url('../images/iconBrowser.png');
        repeat:no-repeat;
        position: 50% 0;
    }
}

@mixin icon_lighting {
    background:{
        image:url('../images/iconLighting.png');
        repeat:no-repeat;
        position: 50% 0;
    }
}

@mixin icon_user {
    background:{
        image:url('../images/iconUser.png');
        repeat:no-repeat;
        position: 50% 0;
    }
}

@mixin image_loader {
    background:{
        image:url('../images/spriteSpinner.png');
        repeat:no-repeat;
        position: 50% 50%;
    }
}

@mixin image_enterprise_header {
    background:{
        image:url('../images/enterprise/header.png');
        repeat:no-repeat;
        position: 50% 50%;
    }
}

@mixin image_logo_inlaid {
    background:{
        image:url('../images/logo-inlaid.png');
        repeat:no-repeat;
        position: 50% 98%;
    }
}

@mixin image_pricing_box_open_source {
    background: {
        image:url('../images/pricing/box_opensource.png');
        repeat:no-repeat;
        position: 50px 50%;
    }
}

@mixin image_pricing_box_business {
    background: {
        image:url('../images/pricing/box_business.png');
        repeat:no-repeat;
        position: 22px 50%;
    }
    margin-bottom: 20px;
}

@mixin image_pricing_box_premium {
    background: {
        image:url('../images/pricing/box_premium.png');
        repeat:no-repeat;
        position: 22px 50%;
    }
    margin-bottom: 20px;
}

@mixin image_pricing_box_secure {
    background: {
        image:url('../images/pricing/box_secure.png');
        repeat:no-repeat;
        position: 22px 50%;
    }
    margin-bottom: 20px;
}

@mixin image_welcome_pack {
    background: {
        image:url('../images/pricing/img_welcomepack.png');
        repeat:no-repeat;
        position: -80px 50%;
    }
}

@mixin image_cloud_up {
    background: {
        image:url('../images/pricing/img_cloudup.png');
        repeat:no-repeat;
        position: 117% 50%;
    }
}

@mixin image_key_box {
    background: {
        image:url('../images/pricing/img_keybox.png');
        repeat:no-repeat;
        position: 65px 50%;
    }
}

@mixin sep_line_small {
    background: {
        image:url('../images/pricing/sep_line_small.png');
        repeat:no-repeat;
        position: 50% 100%;
    }
}

@mixin icon_info {
    background: {
        image:url('../images/pricing/icon_info.png');
        repeat:no-repeat;
        position: 100% 50%;
    }
}
