
@font-face {
  font-family: CodeEnvy;
  src: url('../fonts/regular.otf');
}

@font-face {
  font-family: ProximaNova;
  src: url('../fonts/proximanova/ProximaNova-Regular.otf');
}

@font-face {
  font-family: HelveticaNeue;
  src: url('../fonts/proximanova/ProximaNova-Regular.otf');
}


@mixin image_logo {
	background:{
		image:url('../images/logoCodenvy.png');
		repeat:no-repeat;
        position: 50% 50%;
        size:130px 19px;
	}

    @include retina(){
        background-image:url('../images/logoCodenvy2x.png');
    };
}

@mixin image_totem {
	background:{
		image:url('../images/codenvyTotem.png');
		repeat:no-repeat;
        position: 65% 39%;
	}

    @include respond-to(mobile){
        background-position: 50% 50%;
        background-size: 320px 617px;
        background-image:url('../images/mobileTotem.png');
    }

    @include retina(){
        background-image:url('../images/mobileTotem@2X.png');
    }
}

@mixin image_small_dot {
	background:{
		image:url('../images/dotLittleguy.png');
		repeat:no-repeat;
		position:0 12px;
	}
}

@mixin image_big_dot {
	background:{
		image:url('../images/dotMaous.png');
		repeat:no-repeat;
		position:0 9px;
	}
}

@mixin content_totem {
	content:url('../images/codenvyTotem.png');
	text-align: right;
	padding-top: 30px;
	padding-right: 20px;
}

@mixin image_button_github {
    background:{
        image:url('../images/buttonGithub.png');
        repeat:no-repeat;
        position: 50% 100%;
        background-size: 289px 40px;
    }

    @include retina(){
        image:url('../images/buttonGithub@2X.png');
    }
}

@mixin image_button_google {
    background:{
        image:url('../images/buttonGoogle.png');
        repeat:no-repeat;
        position: 50% 100%;
        background-size: 289px 40px;
    }

    @include retina(){
        image:url('../images/buttonGoogle@2X.png');
    }
}

@mixin image_line_full {
    background:{
        image:url('../images/lineFull.png');
        repeat:no-repeat;
        position: 50% 0;
    }
}

@mixin image_line_small {
    background:{
        image:url('../images/lineSmall.png');
        repeat:no-repeat;
        position: 50% 0;
    }
}

@mixin image_line_light {
    background:{
        image:url('../images/lineLight.png');
        repeat:no-repeat;
        position: 50% 100%;
    }
}

@mixin icon_cloud {
    background:{
        image:url('../images/iconCloud.png');
        repeat:no-repeat;
        position: 50% 0;
    }
}

@mixin icon_house {
    background:{
        image:url('../images/iconHouse.png');
        repeat:no-repeat;
        position: 50% 0;
    }
}

@mixin icon_lock {
    background:{
        image:url('../images/iconLock.png');
        repeat:no-repeat;
        position: 50% 0;
    }
}

@mixin icon_plug {
    background:{
        image:url('../images/iconPlug.png');
        repeat:no-repeat;
        position: 50% 0;
    }
}

@mixin icon_scale {
    background:{
        image:url('../images/iconScale.png');
        repeat:no-repeat;
        position: 50% 0;
    }
}

@mixin icon_browser {
    background:{
        image:url('../images/iconBrowser.png');
        repeat:no-repeat;
        position: 50% 0;
    }
}

@mixin icon_lighting {
    background:{
        image:url('../images/iconLighting.png');
        repeat:no-repeat;
        position: 50% 0;
    }
}

@mixin icon_user {
    background:{
        image:url('../images/iconUser.png');
        repeat:no-repeat;
        position: 50% 0;
    }
}

@mixin image_loader {
    background:{
        image:url('../images/spriteSpinner.png');
        repeat:no-repeat;
        position: 50% 50%;
    }
}

@mixin image_enterprise_header {
    background:{
        image:url('../images/enterprise/header_enterprise.png');
        repeat:no-repeat;
        position: 50% 50%;
    }
}

@mixin image_logo_inlaid {
    background:{
        image:url('../images/logo-inlaid.png');
        repeat:no-repeat;
        position: 50% 97%;
    }
}

@mixin image_pricing_box_open_source {
    background: {
        image:url('../images/pricing/box_opensource.png');
        repeat:no-repeat;
        position: 50% 50%;
    }
}

@mixin image_pricing_box_business {
    background: {
        image:url('../images/pricing/box_business.png');
        repeat:no-repeat;
        position: 50% 50%;
    }
    margin-bottom: 20px;
}

@mixin image_pricing_box_premium {
    background: {
        image:url('../images/pricing/box_premium.png');
        repeat:no-repeat;
        position: 50% 50%;
    }
    margin-bottom: 20px;
}

@mixin image_pricing_box_secure {
    background: {
        image:url('../images/pricing/box_secure.png');
        repeat:no-repeat;
        position: 50% 50%;
    }
    margin-bottom: 20px;
}

@mixin image_welcome_pack {
    background: {
        image:url('../images/pricing/img_welcomepack.png');
        repeat:no-repeat;
        position: -80px 50%;
    }
}

@mixin image_cloud_up {
    background: {
        image:url('../images/pricing/img_cloudup.png');
        repeat:no-repeat;
        position: 117% 50%;
    }
}

@mixin image_key_box {
    background: {
        image:url('../images/pricing/img_keybox.png');
        repeat:no-repeat;
        position: 65px 50%;
    }
}

@mixin sep_line_small {
    background: {
        image:url('../images/pricing/sep_line_small.png');
        repeat:no-repeat;
        position: 50% 100%;
    }
}

@mixin icon_info {
    background: {
        image:url('../images/pricing/icon_info.png');
        repeat:no-repeat;
        position: 100% 50%;
    }
}

@mixin content_features_header {
    content:url('../images/features/img_header.png');
    position:absolute;
    z-index:-1; top:0; left:0; right:0; bottom:0;
    text-align:center;
}

@mixin image_screenshot_accessanywhere {
    background: {
        image:url('../images/features/img_prntscr_accessanywhere.png');
        repeat:no-repeat;
        position: 50% 100%;
    }
}

@mixin image_screenshot_invite {
    background: {
        image:url('../images/features/img_prntscr_invite.png');
        repeat:no-repeat;
        position: 50% 100%;
    }
}

@mixin image_screenshot_picklanguage {
    background: {
        image:url('../images/features/img_prntscr_picklanguage.png');
        repeat:no-repeat;
        position: 50% 100%;
    }
}

@mixin image_choose_paas {
    background: {
        image:url('../images/features/img_choosepaas.png');
        repeat:no-repeat;
        position: 50% 100%;
    }
}

@mixin image_screenshot_pair {
    background: {
        image:url('../images/features/img_prntscr_pair.png');
        repeat:no-repeat;
        position: 50% 100%;
    }
}

@mixin image_screenshot_build_cycle {
    background: {
        image:url('../images/features/img_prntscr_buildcycle.png');
        repeat:no-repeat;
        position: 50% 100%;
    }
}

@mixin image_screenshoot_editor {
    background: {
        image:url('../images/features/img_prntscr_editor.png');
        repeat:no-repeat;
        position: 50% 100%;
    }
}

@mixin image_screenshot_debug {
    background: {
        image:url('../images/features/img_prntscr_debug.png');
        repeat:no-repeat;
        position: 50% 100%;
    }
}


@mixin image_ide_screenshot {
    background: {
        image:url('../images/features/img_ide_screenshot.png');
        repeat:no-repeat;
        position: 50% 50%;
    }
}

@mixin image_link_separator {
    background: {
        image:url('../images/linkSeparator.png');
        repeat:no-repeat;
        position: 0% 10px;
    }
}

@mixin image_highlight{
    background: {
        image:url('../images/pricing/sep_grad.png');
        repeat:no-repeat;
        position: 50% 100%;
    }
}
