@import "compass/css3";

@mixin transition($duration,$timing:ease-in,$property:all,$delay:0){
  @include transition-property($property);
  @include transition-duration($duration);
  @include transition-timing-function($timing);
  @include transition-delay($delay);
};


@-webkit-keyframes fadeIn {
  0%   { opacity: 0; -webkit-transform:translate3d(-20px,0,0);}
  100% { opacity: 1; }
}
@-moz-keyframes fadeIn {
  0%   { opacity: 0; -moz-transform:translate3d(-20px,0,0);}
  100% { opacity: 1; }
}
@-o-keyframes fadeIn {
  0%   { opacity: 0; -o-transform:translate3d(-20px,0,0);}
  100% { opacity: 1; }
}
@keyframes fadeIn {
  0%   { opacity: 0; transform:translate3d(-20px,0,0);}
  100% { opacity: 1; }
}
