@import 'assets';
@import 'colors';

.oauth-button {
	padding-left:157px;
	padding-top:36px;

	opacity: 0.7;

	&:hover{
		opacity: 1;
	};

	&:active{
		opacity: 0.7;
	};
}

.oauth-button.github{
	@include image_button_github;
}

.oauth-button.google{
	@include image_button_google;
}


.signup-button {
	@include signup-button-gradient;
	border: solid 1px #595e62;
	border-radius: 5px;
	color: $text-on-dark-color;
	padding: 10px;

	&:hover{
		background: $signup-button-color;
	};

	&:active{
		opacity: 0.7;
	};
}

@mixin button() {
    display: inline-block;
    padding: 10px 10px 10px;
    text-decoration: none;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    font-weight:300;
    font-size: 1em;
    line-height: 1em;
}

.button-100 { width: 100px; }
.button-200 { width: 200px; }

.blue-button {
    @include button();
    @include blue-button-gradient();
    border:solid 1px #233041;
    color:#233041;

    text-shadow:0px 1px 1px rgba(251, 251, 251, 0.5);

    &:hover{
        color: #44484b;
        @include blue-button-gradient-highlight();
    };

    &:active{
        border-color: #FFF;
    };
}

.gray-button {
    @include button();
    @include gray-button-gradient();
    color: #233041;
    border: solid 1px #233041;

    &:hover{
        color: #44484b;
        @include gray-button-gradient-highlight();
    };

    &:active{
        border-color: #FFF;
    };
}

.light-button {
    @include button();
    @include light-button-gradient();
    border: solid 1px #d7d7d7;
    color:#233041;

    &:hover{
        color: #44484b;
        @include light-button-gradient-highlight();
    };

    &:active{
        border-color: #FFF;
    };
}


// a {

//   background: white url(buttons.png) 0px 0px no-repeat;

// }

// a:hover {

//   background-position: -30px 0px;

// }

// a:active {

//   background-position: -60px 0px;

// }
