@import "compass/css3/images";

$background-color:#f3f3f3;

$text-color:#44484b;
$text-on-dark-color:#f3f3f3;

$link-color:#44484b;
$footer-link-color:#8e979d;
$footer-link-hover-color:#595e62;
$header-link-color:#595e62;
$header-link-hover-color:#000000;
$header-link-special-hover-color:#7bbced;

$signin-button-outline:#cbcbcb;
$signup-button-outline:#8ECDF2;

$signup-button-color:#54aee1;
$signup-button-font-color:#8e979d;

$text-box-background-color:#313a48;
$text-box-drop-shadow-color:rgba(84,94,108,1);
$text-box-inset-shadow-color:rgba(35,40,52,1);
$text-box-font-color:rgba(251,251,251,1);
$text-box-placeholder-color:rgba(251,251,251,0.5);
$domain-placeholder-text-color:rgba(251, 251, 251, 0.2);


$paragraph-color:#595e62;

$light-background-color: #f7f7f7;
$light-background-border: #d9dbdf;
$light-background-line: #e3e4e7;

$simple-screen-background: #595e62;
$loader-text-color:#f3f3f3;

$link-color-on-dark:#54aee1;

$container-border-color:#d7d7d7;

$blue-link-color:#54aee1;

@mixin signup-button-gradient {
    @include background-image(linear-gradient(#8ECDF2, #54aee1 35%));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8ECDF2', endColorstr='#54aee1');
}

@mixin signin-button-gradient {
    @include background-image(linear-gradient(#f3f3f3,#e8e8e8));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f3f3', endColorstr='#e8e8e8');
}

@mixin dark-container-gradient {
    @include background-image(linear-gradient(#233041 30%, #3e495a));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#233041', endColorstr='#3e495a');
}

@mixin shiny-text-gradient {
    background: -webkit-linear-gradient(#e2e5e8,#bec3c4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin blue-button-gradient {
    @include background-image(linear-gradient(#7bbced 33%, #54aee1 70%));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7bbced', endColorstr='#54aee1');
}

@mixin blue-button-gradient-highlight {
    @include background-image(linear-gradient(#c1e3fc 33%, #54aee1 70%));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c1e3fc', endColorstr='#54aee1');
}

@mixin gray-button-gradient {
    @include background-image(linear-gradient(#f7f7f7 50%, #d7e4ed 50%));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#d7e4ed');
}

@mixin gray-button-gradient-highlight {
    @include background-image(linear-gradient(#b3d5e8 0%, #f7f7f7 50%, #d7e4ed 50%));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3d5e8', endColorstr='#d7e4ed');
}

@mixin light-button-gradient {
    @include background-image(linear-gradient(#fdfdfd, #d8d9d9));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#d8d9d9');
}

@mixin light-button-gradient-highlight {
    @include background-image(linear-gradient(#fdfdfd,  #f2efef));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#f2efef');
}

@mixin light-gradient  {
    @include background-image(linear-gradient(#FFFFFF, #F7F7F7));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#F7F7F7');
}


// Noir et blanc:
// – Faux Black: #44484b
// – Sleek Grey: #595e62
// – Petit Grey: #8e979d
// – Lighty Light: #d6e3ed
// – Faux Blanc: #f3f3f3
// Counter color:
// – Boring Blue: #54aee1
// – Chillax Blue: #7bbced

