$background-color:#f3f3f3;
$text-color:#44484b;
$link-color:#44484b;
$signup-button-outline:#cbcbcb;

// Noir et blanc:
// – Faux Black: #44484b
// – Sleek Grey: #595e62
// – Petit Grey: #8e979d
// – Lighty Light: #d6e3ed
// – Faux Blanc: #f3f3f3
// Counter color:
// – Boring Blue: #54aee1
// – Chillax Blue: #7bbced

