@import "compass/css3/images";

$background-color:#f3f3f3;
$text-color:#44484b;
$text-on-dark-color:#f3f3f3;
$link-color:#44484b;
$signin-button-outline:#cbcbcb;
$signup-button-color:#54aee1;


@mixin signup-button-gradient {
    @include background-image(linear-gradient(#d6e3ed, $signup-button-color 35%));
}

@mixin signin-button-gradient {
    @include background-image(linear-gradient(#fcfcfc, #f3f3f3));
}

// Noir et blanc:
// – Faux Black: #44484b
// – Sleek Grey: #595e62
// – Petit Grey: #8e979d
// – Lighty Light: #d6e3ed
// – Faux Blanc: #f3f3f3
// Counter color:
// – Boring Blue: #54aee1
// – Chillax Blue: #7bbced

