
.content {
    margin-top: 8px;
}

.short-line {
    width: 100px;
}


/*

	Landing page

*/

.logo {
    h1{
        margin: 0; padding: 0; height: 19px;
        @include image_logo;
        span { display: none; }
    }
}


$scene-height:407px;

.scene {
	position: relative;
    overflow: hidden;
    border-radius: 6px;
    color: $text-on-dark-color;
    a { color: $link-color-on-dark; }
    max-height: $scene-height;
}


.totem {
	@include image_totem();
	min-height: $scene-height;
}


.overview {

    margin-top: 10px;

	p {
		text-align: center;
		padding:10px 10px 20px 10px;
		line-height: 1.5em;
		@include image_line_light;
	}

	.icon-head {
		$icon-size : 25px;
		padding-top: $icon-size*1.2;
        margin-top: $icon-size*0.8;
	}

	.cloud{
        @include icon_cloud();
    }

    .lighting{
        @include icon_lighting();
    }

    .user{
        @include icon_user();
    }

    .house{
        @include icon_house();
    }

    .lock{
        @include icon_lock();
    }

    .plug{
        @include icon_plug();
    }

    .scale{
        @include icon_scale();
    }

    .browser{
        @include icon_browser();
    }

}


/*

    Login

*/


.login {
    position: relative;
    padding-top: 21px;
    margin: 10px;

    form {
        padding: 25px;
    }

    hr.short-line {
        margin-top: 30px;
        margin-bottom: 10px;
    }


}

/*

    Forgot password form

*/

.result-message.hidden{
    opacity: 0;
}

.data.hidden{
    opacity: 0;
}

/*

    Misc

*/
.aternative-login {
    @include image_line_or;
    @include transition(0.6s);
    padding: 10px;
    text-align: center;
    opacity: 1;
    padding-top: 51px;
    min-height: 100px;
}

.aternative-login.pulled-up {
    @include transform(translate(0,-136px));
}

.aternative-login.collapsed {
    opacity: 0;
    @include transform(translate(0,0));
    @include transition(0.3s);
}


/*
    Domain picker

*/

.select-domain {
    position: relative;
    padding: 20px;
}

.domain-list {
    background: $text-box-placeholder-color;
    border-radius: 6px;
    list-style: none;
    padding: 0;
}

.domain-list li {
    padding: 0;
    border-bottom: solid 1px $text-box-background-color;
}

.domain-list li a {
    display: block;
    padding: 5px 20px;
}

.domain-list li:last-child {
    border-bottom: none;
}


/*

    Loader (wait for tenant screen)

*/

body.simple{
    background-color: $simple-screen-background;
    position: relative;
}

.loader {

    // border: solid 1px #CCC;

    $width : 300px; $height: 30px;

    @include image_loader();
    position: absolute;
    left: 50%; top: 50%;
    height: $height; width: $width;
    margin-left: -$width/2; margin-top: -$height/2;
    opacity: 0;

    @include transition(0.5s,ease-in,opacity);

    h3{
        color: $text-on-dark-color;
    }

    &.frame1{ background-position: 50% -100px; };
    &.frame2{ background-position: 50% 0px; };
    &.frame3{ background-position: 50% -29px; };
    &.frame4{ background-position: 50% -58px; };

    &.visible{ opacity: 1.0; }
}

.loader-text {

    $width : 300px; $height: 28px;

    font-weight: 300;
    text-transform: uppercase;
    position: absolute;
    left: 50%; top: 50%;
    height: $height; width: $width;
    margin-left: -$width/2; margin-top: -$height/2;
    text-align: center;
    padding-top: $height*1.5;

    color: $loader-text-color;
}

/*

    Profile page

*/

.profile-form {
    position: relative;
    padding: 20px;
    background: #233040;

    form {
        padding: 10px 5px;
    }

}

.error-container.ok-message {
    background-color: rgba(0, 255, 0, 0.4);
}

/*
    Enterprise page
*/

.enterprise {
    position: relative;
    height: $enterprise-header-height;
    padding: 0;

}

.enterprise-header {
    min-height: $enterprise-header-height;
    min-width: $enterprise-header-width;
    @include image_enterprise_header();
    background-position: 0% 40%;
    position: absolute;
    z-index: 1;
}

.enterprise-header-ground {
    min-height: $enterprise-header-ground;
    min-width: $enterprise-header-width;
    background-color: #3e495a;
    position: absolute;
    bottom: 0;
}

h1.enterprise-header-text {
    min-height: $enterprise-header-ground;
    min-width: $enterprise-header-width;
    background-color: #3e495a;
    position: absolute;
    top: 150px;
    left: 400px;
}

.enterprise-features {

    .icon-head p {
        height: 150px;
    }

    .row:last-child .icon-head p{
        background: none;
        height: 130px;
    }

}

/*

    Pricing

*/

.pricing-feature-list {
    padding: 0; margin: 2em 0;
    list-style-type: none;
    line-height: 2em;

    li {
        padding: 0 0 1em 0; margin: 1em 0;
        @include sep_line_small();

        a {
            @include icon_info();
            color: $text-on-dark-color;
            padding-right: 30px;
        }

        &.highlight {
            @include image_highlight();
        }
    }

}

.pricing-poetry {
    font-size:1em;
    color:#8e979d;
    font-weight:300;
    padding:0.5em;
    margin-top: 36px;
}

.pricing-poetry.opensource {
    margin-bottom: 14px;
}

.signup-opensource-button{
    margin-top: 14px;
}

.pricing-feature {
    padding: 15px;

    p {
        margin-top: 5px;
    }
}

.pricing-plans {
    margin-top: -8px;
}

.container.open-source {
    background-color:#2b3748;
    border: solid 1px #313d4d;
    padding: 0.8em;
}

.container.open-source-desc {
    padding-top: 7px;
}

.pricing-box-open-source {
    @include image_pricing_box_open_source();
    height:128px;
}

.paid-plan {
    background-color:#2b3748;
    border: solid 1px #313d4d;
    padding: 0.8em;
}

.pricing-box-business {
    @include image_pricing_box_business();
    height: 155px;
}

.header-secure {
    background: -webkit-linear-gradient(#7bbced, #54aee1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
    font-weight: 400;
}

.header-premium {
    background: -webkit-linear-gradient(#7bbced, #54aee1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
    font-weight: 400;
}

.header-business {
    background: -webkit-linear-gradient(#fff000, #c4a000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
    font-weight: 400;
}

.pricing-box-premium {
    @include image_pricing_box_premium();
    height: 155px;
}

.pricing-box-secure {
    @include image_pricing_box_secure();
    height: 155px;
}

.pricing-enterprise-header {

}

.container.enterprise-teaser {
    background-color: #42617B;
    color:$text-on-dark-color;
    padding: 1.5em;
    a { color: $link-color-on-dark; }

    h3 {
        margin: 0 0 5px 0;
        @include shiny-text-gradient();
    }
}

.welcome-pack {
    @include image_welcome_pack();
    height: 212px;
}

.container.pricing-dedicated {
    padding-right: 10px;
    padding-left: 50px;
}

.cloud-up {
    @include image_cloud_up();
    min-height: 232px;
}

.key-box {
    @include image_key_box();
    height: 250px;
}

/*

    Features

*/

.container.features {
    position:relative; z-index:1; min-height: 300px;
    &:after{ @include content_features_header(); };
}

.screenshot { padding-bottom: 209px; }
.screenshot.anywhere { @include image_screenshot_accessanywhere(); }
.screenshot.invite { @include image_screenshot_invite(); }
.screenshot.language { @include image_screenshot_picklanguage(); }

.choose-paas{ @include image_choose_paas(); padding-bottom: 170px; }


.screenshot.build-cycle{ @include image_screenshot_build_cycle(); }
.screenshot.pair-programming{ @include image_screenshot_pair(); }
.screenshot.editor{ @include image_screenshoot_editor(); }
.screenshot.debug{ @include image_screenshot_debug(); }

.ide-screenshot {
    margin-top: 2em;
    img{ display: inline; }
}

.feature-left {
  text-align: left;
  padding-right: 20px;
}

.feature-right {
  text-align: left;
  padding-left: 20px;
}


/*

    Jobs

*/

.job-listing {

    p.back {

        margin-top: 30px;

        a {
            color: $link-color-on-dark;
        }
    }
}

/*

    Uservoice

*/

#uvTab {
    @include respond-to(mobile){
        display: none !important;
    };
}
