
.content {
    margin-top: 8px;
}

.short-line {
    width: 100px;
}

@mixin darkContainer(){
    position: relative;
    @include bg_scene();
    overflow: hidden;
    border-radius: 6px;
    color: $text-on-dark-color;
    a { color: $text-on-dark-color; }
}

/*

	Landing page

*/

$scene-height:407px;

.scene {
    @include darkContainer();
	max-height: $scene-height;
}


.totem {
	@include image_totem();
	min-height: $scene-height;
}


.overview {

    margin-top: 10px;

	p {
		text-align: center;
		padding:10px 10px 20px 10px;
		line-height: 1.5em;
		@include image_line_light;
	}

	.icon-head {
		$icon-size : 25px;
		padding-top: $icon-size*1.2;
        margin-top: $icon-size*0.8;
	}

	.cloud{
        @include icon_cloud();
    }

    .lighting{
        @include icon_lighting();
    }

    .user{
        @include icon_user();
    }

    .house{
        @include icon_house();
    }

    .lock{
        @include icon_lock();
    }

    .plug{
        @include icon_plug();
    }

    .scale{
        @include icon_scale();
    }

    .browser{
        @include icon_browser();
    }

}


/*

    Login

*/

.login {
    @include darkContainer();
    position: relative;
    padding-top: 21px;
}

/*

    Forgot password form

*/

.result-message.hidden{
    opacity: 0;
}

.data.hidden{
    opacity: 0;
}

/*

    Misc

*/
.aternative-login {
    @include image_line_or;
    @include transition(0.6s);
    padding: 10px;
    text-align: center;
    opacity: 1;
    padding-top: 51px;
}

.aternative-login.pulled-up {
    @include transform(translate(0,-136px));
}

.aternative-login.collapsed {
    opacity: 0;
    @include transform(translate(0,0));
    @include transition(0.3s);
}


/*
    Domain picker

*/

.select-domain {
    @include darkContainer();
    position: relative;
    padding: 20px;

}

.domain-list {
    background: $text-box-placeholder-color;
    border-radius: 6px;
    list-style: none;
    padding: 0;
}

.domain-list li {
    padding: 0;
    border-bottom: solid 1px $text-box-background-color;
}

.domain-list li a {
    display: block;
    padding: 5px 20px;
}

.domain-list li:last-child {
    border-bottom: none;
}


/*

    Standard pages

*/

.container.light {
    background: $light-background-color;
    border: solid 1px $light-background-border;
    padding: 20px 60px 40px;
    border-radius: 6px;

    @include image_logo_inlaid();

    h1 {
        font-size: 36px;
        text-align: center;
        text-transform: uppercase;
    }

    h2 {
        font-size: 26px;
        font-weight: normal;
    }

    hr {
        border: solid 1px $light-background-line;
        margin: 30px 0;
    }

    .subtitle-line   {
        width: 50px;
        border-top: solid 1px $text-color;
        margin: 0 auto 40px auto;
    }

    ul {
        font-weight: 300;
    }
}

/*

    Loader (wait for tenant screen)

*/

body.simple{
    background-color: $simple-screen-background;
    position: relative;
}

.loader {

    // border: solid 1px #CCC;

    $width : 300px; $height: 28px;

    @include image_loader();
    position: absolute;
    left: 50%; top: 50%;
    height: $height; width: $width;
    margin-left: -$width/2; margin-top: -$height/2;
    opacity: 0;

    @include transition(0.5s,ease-in,opacity);

    h3{
        color: $text-on-dark-color;
    }

    &.frame1{ background-position: 50% -100px; };
    &.frame2{ background-position: 50% 0px; };
    &.frame3{ background-position: 50% -28px; };
    &.frame4{ background-position: 50% -56px; };

    &.visible{ opacity: 1.0; }
}

.loader-text {

    $width : 300px; $height: 28px;

    font-weight: 300;
    text-transform: uppercase;
    position: absolute;
    left: 50%; top: 50%;
    height: $height; width: $width;
    margin-left: -$width/2; margin-top: -$height/2;
    text-align: center;
    padding-top: $height*1.5;

    color: $loader-text-color;
}

/*

    Profile page

*/

.profile-form {
    @include darkContainer();
    position: relative;
    padding: 20px;
    background: #233040;

    form {
        padding: 10px 5px;
    }

}

/*
    Enterprise page
*/

.enterprise-header {
    @include image_enterprise_header();
    height: $enterprise-header-height;
}

/*

    Pricing

*/

.pricing-feature-list {
    padding: 0; margin: 2em 0;
    list-style-type: none;
    line-height: 2em;

    li {
        padding: 0 0 1em 0; margin: 1em 0;
        @include sep_line_small();

        a {
            @include icon_info();
            color: $text-on-dark-color;
            padding-right: 30px;
        }
    }

}

.pricing-poetry {
    font-size:1em;
    color:#8e979d;
    font-weight:300;
    padding:0.5em;
    margin-top: 30px;
}

.pricing-info {
    padding-top: 2em;
    padding-bottom: 2em;
}

.container.pricing {
    @include dark-container-gradient();

    color:$text-on-dark-color;
    a.more-info { color: $link-color-on-dark; }
}

.container.open-source {
    background-color:#2b3748;
    border: solid 1px #313d4d;
    padding: 0.8em;
}

.container.open-source-desc {
    line-height: 2.5em;
}

.pricing-box-open-source {
    @include image_pricing_box_open_source();
    height:128px;
}

.pricing-box-business {
    @include image_pricing_box_business();
    height: 155px;
}

.header-secure {
    background: -webkit-linear-gradient(#7bbced, #54aee1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
}

.header-premium {
    background: -webkit-linear-gradient(#7bbced, #54aee1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
}

.header-business {
    background: -webkit-linear-gradient(#fff000, #c4a000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
}

.pricing-box-premium {
    @include image_pricing_box_premium();
    height: 155px;
}

.pricing-box-secure {
    @include image_pricing_box_secure();
    height: 155px;
}

.container.enterprise-teaser {
    background-color: #42617B;
    color:$text-on-dark-color;
    padding: 0.5em;
    a { color: $link-color-on-dark; }
}

.container.pricing-included {
    border: solid 1px $container-border-color;
    border-top: solid 4px #d6e3ed;
    background-color:#fff;
}

.welcome-pack {
    @include image_welcome_pack();
    height:212px;
}

.container.pricing-dedicated {
    border: solid 1px $container-border-color;
    border-top: none;
    background-color:#fff;
}

.cloud-up {
    @include image_cloud_up();
    min-height: 232px;
}

.container.pricing-team {
    border: solid 1px $container-border-color;
    border-top: none;
}

.key-box {
    @include image_key_box();
    height: 250px;
}

.container.pricing-contact {
    border: solid 1px $container-border-color;
    border-top: none;
    @include background-image(linear-gradient(#FFF, #F7F7F7));
}
