
.content {
    margin-top: 8px;
}

.short-line {
    width: 100px;
}


/*

	Landing page

*/

.logo {
    h1{
        margin: 0; padding: 0; height: 19px;
        @include image_logo;
        span { display: none; }
    }
}


$scene-height:407px;

.scene {
	position: relative;
    overflow: hidden;
    border-radius: 6px;
    color: $text-on-dark-color;
    a { color: $link-color-on-dark; }

    @include respond-to(tablet-desktop){
        max-height: $scene-height;
    }
}


.totem {
	@include image_totem();
	min-height: $scene-height;
    @include respond-to(mobile){
        min-height: $mobile-scene-height;
    }
}


.overview {

    margin-top: 10px;

	p {
		text-align: center;
		padding:10px 10px 20px 10px;
		line-height: 1.5em;

        @include respond-to(tablet-desktop){
            @include image_line_light;
        }
	}

	.icon-head {
		$icon-size : 25px;
		padding-top: $icon-size*1.2;
        margin-top: $icon-size*0.8;
	}

	.cloud{
        @include icon_cloud();
    }

    .lighting{
        @include icon_lighting();
    }

    .lighting-enterprise{
        @include icon_lighting_enterprise();
    }

    .user{
        @include icon_user();
    }

    .house{
        @include icon_house();
    }

    .lock{
        @include icon_lock();
    }

    .plug{
        @include icon_plug();
    }

    .scale{
        @include icon_scale();
    }

    .browser{
        @include icon_browser();
    }

}

$used-by-logos : "../images/landing/logos/amazon.png"
"../images/landing/logos/amex.png"
"../images/landing/logos/berkeley.png"
"../images/landing/logos/bmw.png"
"../images/landing/logos/boeing.png"
"../images/landing/logos/cisco.png"
"../images/landing/logos/disney.png"
"../images/landing/logos/ebay.png"
"../images/landing/logos/ericsson.png"
"../images/landing/logos/ge.png"
"../images/landing/logos/google.png"
"../images/landing/logos/hsbc.png"
"../images/landing/logos/intel.png"
"../images/landing/logos/mckinsey.png"
"../images/landing/logos/nasa.png"
"../images/landing/logos/nbc.png"
"../images/landing/logos/novartis.png"
"../images/landing/logos/oracle.png"
"../images/landing/logos/samsung.png"
"../images/landing/logos/stanford.png"
"../images/landing/logos/vmware.png";


.used-by-label {
    color:#8e979d;
    font-size:0.9em;
    padding: 1em;
}

.used-by-logos {

    $logo-width:80px;
    $logo-height:40px;

    margin-top: 15px;

    ul{
        opacity: 0.6;

        &:hover{
            opacity: 1.0;
        };

        @include transition(0.2s,ease-in,opacity);

        list-style-type: none;
        text-align: center;
        padding: 0; margin: 0;

        @mixin logo-li {
            width: $logo-width;
            min-height: $logo-height;
            display: -moz-inline-stack;
            display: inline-block;
            vertical-align: top;
            margin: 18px 5px 18px 5px;
            zoom: 1;
            *display: inline;
            _height: $logo-height;
            text-align: center;
            background: {
                repeat:no-repeat;
                position: 50% 50%;
            }
        }

        @for $i from 1 through length($used-by-logos) {
            li:nth-child(#{$i}){
                @include logo-li();
                background-image: url(nth($used-by-logos, $i));
            }
        }
    }
}

/*

    Login

*/


.login {
    position: relative;
    padding-top: 21px;
    margin: 10px;

    form {
        padding: 15px 60px;
    }

    hr.short-line {
        margin-top: 30px;
        margin-bottom: 10px;
    }


}

/*

    Forgot password form

*/

.result-message.hidden{
    opacity: 0;
}

.data.hidden{
    opacity: 0;
}

/*

    Misc

*/
.aternative-login {
    @include image_line_small;
    @include transition(0.6s);
    padding: 10px 10px 30px 10px;
    text-align: center;
    opacity: 1;
    min-height: 100px;
}

.aternative-login.pulled-up {
    @include transform(translate(0,-147px));
}

.aternative-login.collapsed {
    opacity: 0;
    @include transform(translate(0,0));
    @include transition(0.3s);
}


/*
    Domain picker

*/

.select-domain {
    position: relative;
    padding: 20px;
}

.domain-list {
    background: $text-box-placeholder-color;
    border-radius: 6px;
    list-style: none;
    padding: 0;
}

.domain-list li {
    padding: 0;
    border-bottom: solid 1px $text-box-background-color;
}

.domain-list li a {
    display: block;
    padding: 5px 20px;
}

.domain-list li:last-child {
    border-bottom: none;
}


/*

    Loader (wait for tenant screen)

*/

body.simple{
    background-color: $simple-screen-background;
    position: relative;
}

.loader {

    // border: solid 1px #CCC;

    $width : 300px; $height: 30px;

    @include image_loader();
    position: absolute;
    left: 50%; top: 50%;
    height: $height; width: $width;
    margin-left: -$width/2; margin-top: -$height/2;
    opacity: 0;

    @include transition(0.5s,ease-in,opacity);

    h3{
        color: $text-on-dark-color;
    }

    &.frame1{ background-position: 50% -100px; };
    &.frame2{ background-position: 50% 0px; };
    &.frame3{ background-position: 50% -29px; };
    &.frame4{ background-position: 50% -58px; };

    &.visible{ opacity: 1.0; }
}

.loader-text {

    $width : 300px; $height: 28px;

    font-weight: 300;
    text-transform: uppercase;
    position: absolute;
    left: 50%; top: 50%;
    height: $height; width: $width;
    margin-left: -$width/2; margin-top: -$height/2;
    text-align: center;
    padding-top: $height*1.5;

    color: $loader-text-color;
}

/*

    Profile page

*/

.profile-form {
    position: relative;
    padding: 20px;
    background: #233040;

    form {
        padding: 10px 5px;
    }

}

.error-container.ok-message {
    background-color: rgba(0, 255, 0, 0.4);
}

/*
    Enterprise page
*/

.enterprise {
    position: relative;
    height: $enterprise-header-height;
    padding: 0;

}

.enterprise-header {
    min-height: $enterprise-header-height;
    min-width: $enterprise-header-width;
    @include image_enterprise_header();
    background-position: 0% 40%;
    position: absolute;
    z-index: 1;
}

.enterprise-header-ground {
    min-height: $enterprise-header-ground;
    min-width: $enterprise-header-width;
    background-color: #3e495a;
    position: absolute;
    bottom: 0;
}

h1.enterprise-header-text {
    min-height: $enterprise-header-ground;
    min-width: $enterprise-header-width;
    background-color: #3e495a;
    position: absolute;
    top: 150px;
    left: 400px;
}

.enterprise-features {

    .enterprise-icon {

    }

    .enterprise-icon p {
        height: 130px;
    }

    .row:last-child .enterprise-icon p{
        background: none;
    }

    h4 {
        margin-bottom: 80px;
    }

}

/*

    Pricing

*/

.pricing-section {
    border: solid 3px #EFEFEF;
    margin: 0 1.5em 1.5em 1.5em;
    padding: 0.5em 1.5em 0 1.5em;
    background-color: #FDFDFD;
    font-size:$base-font-size*0.875;

    h3 { margin-top: 0; margin-bottom:  0; }
    p { margin:0 0 0.5em 0;  }

    &.plain {
        background-color: #FFF;
        border: none;
    }
}

.pricing-row {
    position: relative;
    border-top: solid 1px #EDEDED;
    padding: 0.5em 2em 0.3em 2em;
}

.pricing-row:nth-child(1) {
    padding-top: 0;
    border-top: none;
}

.pricing-row:nth-child(9) {
    border-bottom: solid 1px #EDEDED;
}

h2.premium {
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    margin: 0.6em 0 0.6em 0;
}

h3.community {
    color: #60AFD9;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    font-size: 1.7em;
}

h3.premium {
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    color: #222531;
    font-size: 1.7em;
}

h3.addons {
    color: #5B626C;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    font-size: 1.7em;
}

h3.super {
    color: #787878;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    font-size: 1.7em;
}

.price-span {
    @include respond-to(tablet-desktop){
        position: absolute;
        top: 50%;
        height: 40px;
        margin-top: -20px;
        margin-right: 2em;
        right: 0%;
        text-align: right;
    }

    text-align: center;
}

.price-label {
    border-radius: 5px;
    padding: 7px 7px 8px 7px;
    width: 150px;
    display: inline-block;
    text-align: center;
    font-size: 1.6em;
    margin-right: 25px;

    &.no-button {
        //account for the missing button
        margin-right: 25px + 150px - 50px;
    }

    &.extended{
        width: 200px;
    };
}

.explanation-section {

    margin:0.7em 0 0.7em 0;

    table {
        width: 100%;
    }

    td {
        padding:1em;
        border-bottom: solid 1px #EDEDED;
    }

    td:nth-child(2){
        text-align: right;
    };

    p{
        padding: 0; margin: 0;
    }

    strong {
        font-weight: 500;
    }
}

.explanation-section-header {
    border-bottom: solid 1px #CCC;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 5px;
}

.premium-features-title {
    font-weight: 500;
}

ul.premium-features {
    margin: 5px;
    padding: 0;

    li{
        display: inline-block;
        background:{
            image: url('../images/pricing/icon_check_green.png');
            repeat: no-repeat;
            position: 0% 50%;
        }

        padding-left: 26px;
    }
}

.premium-explained {
    margin: 1em 0 1.5em 0;

    ul{
        margin:0.5em 0 0 1em; padding:0;

        li{
            float: left;
            width: 200px;
        }
    }
}

.premium-goodness-box {
    border: solid 1px #EFEFEF;
    min-height: 114px;
    max-height: 114px;
    padding: 10px 20px;

    strong{
        text-align: center;
        display: inline-block; width: 100%;
        font-weight: 500;
        margin-bottom: 5px;
    }
}


.credit-cards {
    width: 320px;

    background:{
        image:url('../images/pricing/shopping.png');
        repeat: no-repeat;
        position: 50% 50%;
    }
}

.faq {
    h3{
        font-size: 1.3em;
        margin-bottom: 0.5em;
        color: #60AFD9;
    }
}


/*

    Features

*/

.container.features {
    @include respond-to(tablet-desktop){
        position:relative; z-index:1; min-height: 300px;
        &:after{ @include content_features_header(); };
    }
}

.screenshot { padding-bottom: 209px; }
.screenshot.anywhere { @include image_screenshot_accessanywhere(); }
.screenshot.invite { @include image_screenshot_invite(); }
.screenshot.language { @include image_screenshot_picklanguage(); }

.choose-paas{

    $tile-width:60px;
    $tile-height:60px;

    ul{
        list-style-type: none;
        margin:0; padding:0;

        li{
            width: $tile-width;
            min-height: $tile-height;
            display: -moz-inline-stack;
            display: inline-block;
            vertical-align: top;
            margin: 10px;
            zoom: 1;
            *display: inline;
            _height: $tile-height;
        }
    }
}

.screenshot.build-cycle{ @include image_screenshot_build_cycle(); }
.screenshot.pair-programming{ @include image_screenshot_pair(); }
.screenshot.editor{ @include image_screenshoot_editor(); }
.screenshot.debug{ @include image_screenshot_debug(); }

.ide-screenshot {
    margin-top: 2em;
    img{ display: inline; }
}

.feature-left {
  text-align: left;
  padding-right: 20px;
}

.feature-right {
  text-align: left;
  padding-left: 20px;
}

.table-row-tile {
    margin-top: 30px;
    margin-left: 30px;
}


/*

    Jobs

*/

.job-listing {

    p.back {

        margin-top: 30px;

        a {
            color: $link-color-on-dark;
        }
    }
}

/*

    Uservoice

*/

#uvTab {
    @include respond-to(mobile){
        display: none !important;
    };
}


/*

    Hot Pages

*/

.ht-index {
    color: $light-background-color;
    font-size: 4px;
}

