// Grid
// -----

$column-count: 12;
$column-gutter: 20px;
$page-width: 947px - $column-gutter * 2;
$responsive-breakpoint: 885px;
$mobile-padding: 15px; // Distance from content to edge of screen on mobile
$tablet-padding: 20px; // Distance from content to edge of screen on tablet


$page-height : 10000px; //movies only
$scene-height : 407px;
$mobile-scene-height: 484px;

$enterprise-header-height:410px;
$enterprise-header-ground:70px;
$enterprise-header-width: 947px;


@mixin enterprise-icon-position(){
	position: 50% 30%;
}


@mixin input-element-text(){
    font-weight: 200; font-size: 1.2em;
}

@mixin input-textbox-padding(){
    padding-left: 10px;
}

// Typography
// ----------

// $base-font-color : $gray;
// $muted-font-color : $gray-light;
// $base-font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
// $base-font-size : 14px;
// $base-line-height : 21px;
// $small-font-size : 12px;
// $small-line-height : 18px;
// $heading-font-family : $base-font-family;
// $heading-font-weight: 600;
// $heading-color : $gray-dark;
// $icon-size: 20px;

// Forms
// -----

// $form-input-height: 30px;
$form-input-gutter: 20px;
// $form-transition-duration: 0.2s;
// $input-border-radius: 2px;
// $placeholder-color: $muted-font-color;
// $placeholder-focus-color: lighten($muted-font-color, 15%);
// $radio-checkbox-input-height: 13px;
// $radio-checkbox-item-height: $base-font-size * 2;
// $radio-checkbox-font-size: $base-font-size;
// $radio-checkbox-line-height: $base-line-height;
// $single-checkbox-font-size: $small-font-size;
// $error-color: $red-dark;
