

$page-height : 10000px; //movies only
$scene-height : 407px;

$large-screen: "only screen and (min-width:" + $page-width + ")";
$smaller-screen: "only screen and (max-width:" + $page-width + ")";


// Grid
// -----

$page-width: 940px;
$column-count: 12;
$column-gutter: 20px;
$responsive-breakpoint: 767px;
$mobile-padding: 15px; // Distance from content to edge of screen on mobile
$tablet-padding: 20px; // Distance from content to edge of screen on tablet


// Typography
// ----------

// $base-font-color : $gray;
// $muted-font-color : $gray-light;
// $base-font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
// $base-font-size : 14px;
// $base-line-height : 21px;
// $small-font-size : 12px;
// $small-line-height : 18px;
// $heading-font-family : $base-font-family;
// $heading-font-weight: 600;
// $heading-color : $gray-dark;
// $icon-size: 20px;