footer {
    @include transition(0.2s,ease-in,opacity);

	padding: 20px;
	margin-top: 20px;

    opacity:0.6;

    &:hover{
        opacity:1.0;
    };
}

.footer-link {
    @include transition(0.2s,ease-in,color);

	color: $footer-link-color;
    font-size: 0.9em;
    font-weight: 300;

    &:hover{
        color: $footer-link-hover-color;
    };
}

footer > nav > ul {

	@include inline-block-list-container();
    display: inline-block;

	padding: 0; margin: 0; margin-left: -20px;
	text-align: center;

	li {
		@include inline-block-list-item();
		margin-left: 20px;
	}
}
