/* ==========================================================================
   Forms
   ========================================================================== */

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: none;
    margin: 0;
    padding: 0;
    // border: 1px solid #c0c0c0;
    // margin: 0 2px;
    // padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
    border: 0; /* 1 */
    padding: 0; /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */

button,
input,
select,
textarea {
    font-family: inherit; /* 1 */
    //font-size: 100%; /* 2 */
    margin: 0; /* 3 */
    width: 100%;
    border-radius: 5px;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input,
select {
    width: 100%;
    //line-height: normal;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * end of normalize
*/

form {
    text-align:center;
    padding: 20px 5px 25px 5px;
}

form .field {
    padding: 10px;
    position: relative;
}

@mixin placeholder($color){
	::-webkit-input-placeholder {
    	color:$color;
	}
	:-moz-placeholder {
	    color:$color;
	}
	::-moz-placeholder {
	    color:$color;
	}
	:-ms-input-placeholder {
	    color:$color;
	}
}

input[type='text'],
select,
input[type='password']{
    font-weight: 200;
    height: 2em;
    font-size: 1.2em;
    background-color: $text-box-background-color;
    border-radius: 5px;
    border: none;
    color:$text-box-font-color;

    @include box-shadow(
        $text-box-drop-shadow-color 0px 1px 1px,
        $text-box-inset-shadow-color 0px 1px 1px inset
    );

    padding-left: 10px;
}

@include placeholder($text-box-placeholder-color);


.error-container {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 40px;
    text-align: center;
    background-color: rgba(255,0,0,0.4);
    border-radius: 5px;
}

.error-container.expanded {
    opacity: 1.0;
    @include transition(0.3s,ease-in,opacity,0.3s);
}


.working {
    text-align: center;
}

.working.hidden {
    display: none;
}

form.light {
    input[type='text'],
    input[type='password']
    textarea {
        border: solid 1px #CCC;
        background-color: #EEE;
    }
}
