@import "assets";
@import "colors";
@import "compass/utilities/general/clearfix";
@import "compass/typography/lists/horizontal-list";
@import "compass/css3/images";

header {
  padding: 20px;
  min-height: 67px;
  .row {
    overflow: visible;
  }
}

header > nav {}

.main-menu {
	@include horizontal-list;

	li {
        @include image_link_separator;
        padding-left: 20px;
        margin-left: 20px;
        padding-top: 6px;
        font-size: 0.9em;

        a{
            @include transition(0.2s,ease-in,color);
            color: $header-link-color;
        };

        a:hover{
            color: $header-link-hover-color;
        };
	}

    li:nth-child(1){
        a:hover{
            color: $header-link-special-hover-color;
        };
    }


    @include respond-to(tablet-desktop) {
        & li:nth-child(1){
            background: none;
        };
    };

	overflow: visible;
}

.span2.logo-wrapper{
    padding-top: 4px;
    @include respond-to(mobile){
        text-align: center;
    }
    img{
        display: inline;
    }
}


/*

    Focused

*/


.focused-logo {
    margin: 30px auto 0 auto;
    height: 30px;
    width: 205px;
}

