@import "assets";
@import "colors";
@import "compass/utilities/general/clearfix";
@import "compass/typography/lists/horizontal-list";
@import "compass/css3/images";

header {
  padding: 20px;
  min-height: 67px;
  .row {
    overflow: visible;
  }
}

nav {
    text-align: center;
}

.main-menu {
	@include horizontal-list;

	li {

        @include respond-to(tablet-desktop) {
            @include image_link_separator;
            padding-left: 20px;
            margin-left: 20px;
        }

        @include respond-to(mobile){
            margin-left: 1.5em;
        }

        padding-top: 6px;
        font-size: 0.9em;

        a {
            @include transition(0.2s,ease-in,color);
            color: $header-link-color;
        };

        a:hover{
            color: $header-link-hover-color;
        };
	}

    li:nth-child(1){
        a:hover{ color: $header-link-special-hover-color; };
        background: none;
    }

	overflow: visible;

    @include respond-to(mobile) {
        display: inline-block;
        margin-top: 1em;
        text-align: center;
        margin-left:-1.5em;
        li:last-child { display: none; }
    }
}

.span2.logo-wrapper{
    padding-top: 4px;
    @include respond-to(mobile){
        text-align: center;
    }
    img{
        display: inline;
    }
}


/*

    Focused

*/


.focused-logo {
    margin: 30px auto 0 auto;
    height: 30px;
    width: 205px;
}

.header-signup-button {
    margin-right: 10px;
}

