@import "assets";
@import "colors";
@import "compass/utilities/general/clearfix";
@import "compass/typography/lists/horizontal-list";
@import "compass/css3/images";

header {
  padding: 20px;
  min-height: 67px;
  .row {
    overflow: visible;
  }
}

header > nav {
}

.main-menu {
	@include horizontal-list;

	li {
        @include image_link_separator;
        padding-left: 20px;
        margin-left: 20px;
        padding-top: 2px;
	}


    @include respond-to(tablet-desktop){
        & li:nth-child(1){
            background: none;
        };
    };

	overflow: visible;
}

.sign-in-button-wrapper.span2 {
    padding: 0;
}

.sign-in-button {
    font-weight: 300;
    border: solid 1px $signin-button-outline;
    padding: 11px;
    border-radius: 5px;
    @include signin-button-gradient;
    color: $signup-button-font-color;
}

.sign-up-button {
    font-weight: 300;
    border: solid 1px $signup-button-outline;
    padding: 11px;
    border-radius: 5px;
    @include signup-button-gradient;
    color: white;

    &:hover{
        background: $signup-button-color;
    };

    &:active{
        opacity: 0.7;
    };
}

.span2.logo-wrapper{
    padding-top: 4px;
    @include respond-to(mobile){
        text-align: center;
    }
    img{
        display: inline;
    }
}


/*

    Focused

*/


.focused-logo {
    margin: 30px auto 0 auto;
    height: 30px;
    width: 205px;
}

