@import "compass/css3";
@import "behaviors";
@import "assets";
@import "colors";

.signup-form-wrapper {
    width: 335px;
    margin: 20px;
    padding-top: 11px;
}

.signup-form-wrapper h1 {
    padding-left: 16px;
}

.signup-form {
    @include image_line_full;
    text-align:center;
    padding: 20px 5px 25px 5px;
}

.signup-form .field {
    padding: 10px;
    position: relative;
}

.signup-form input {
    width: 100%;
}

.signup-form input[type="text"] {
    height: 2em;
    font-size: 1.2em;
    background-color: $text-box-background-color;
    border-radius: 5px;
    border: none;
    color:$text-box-font-color;

    @include box-shadow(
        $text-box-drop-shadow-color 0px 1px 1px,
        $text-box-inset-shadow-color 0px 1px 1px inset
    );

    padding-left: 10px;
}

.signup-form .domain-name {
    @include transition(0.3s,ease-in,opacity,0.3s);
}

.domain-placeholder {
    position: absolute;
    top: 14px;
    right: 14px;
    color:$text-box-placeholder-color;
}

.hidden-text-box {
    opacity: 0;
}

.signup-button {
    opacity: 1;
    @include transition(0.2s,ease-in,opacity,0.3s);
    font-weight: bold;
    font-size: 1.3em;
}

.signup-button.hidden-button {
    opacity: 0;
}

.aternative-login {
    @include image_line_or;
    @include transition(0.6s);
    padding: 10px;
    text-align: center;
    @include transform(translate(0,-136px));
    opacity: 1;
    padding-top: 51px;
}

.aternative-login.collapsed {
    opacity: 0;
    @include transform(translate(0,0));
    @include transition(0.3s);
}

.signup-terms {
    position: absolute;
    left: 33px;
    bottom: 5px;
    font-size: 0.8em;
    line-height: 1.1em;
    font-weight: 200;
    opacity: 0.7;
}
