@import "compass/css3/transform";
@import "behaviors";

.signup-form-wrapper {
    width: 400px;
    margin: 20px;
}

.signup-form {
    text-align: center;
    padding: 10px;
}

.signup-form > input {
    width: 95%;
}

.signup-form > .domain-name {
    @include transition(0.3s,ease-in,opacity,0.3s);
}

.hidden-text-box {
    opacity: 0;
}

.signup-form > .signup-button {
    @include transition(0.3s,ease-in,opacity,0.3s);
}

.hidden-button {
    opacity: 0;
}

.aternative-login {
    @include transition(0.6s);
    border-top:solid 1px #CCC;
    padding: 10px;
    text-align: center;
    @include transform(translate(0,-64px));
    opacity: 1;
}

.aternative-login.collapsed {
    opacity: 0;
    @include transform(translate(0,0));
    @include transition(0.3s);
}

.signup-terms {
    position: absolute;
    left: 20px;
    bottom: 0;
}
