@import "compass/typography/vertical_rhythm";

$base-font-size: 16px;
$base-line-height: 32px;
$letter-spacing: 0.05em;

@include establish-baseline;


p{
    font-weight: 300;
    color:$paragraph-color;
}
