/* logo */
/* line 18, _movie.scss */
.fixed-logo {
  position: fixed;
  z-index: 6000;
  width: 34px;
  height: 17px;
  top: 5%;
  left: 50%;
  margin-left: -17px;
  background-image: url("../images/movie/cloudLogo.png");
}

/* narrative - where stories live */
/* line 30, _movie.scss */
.narrative {
  width: 600px;
  position: fixed;
  z-index: 6000;
  left: 50%;
  margin-left: -300px;
  top: 15%;
  text-align: center;
}

/* progress bar */
/* line 40, _movie.scss */
.progress-bar {
  position: fixed;
  z-index: 6001;
  left: 50%;
  bottom: 15px;
  height: 49px;
  width: 758px;
  margin-left: -379px;
  background-image: url("../images/movie/timelineEmpty.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
  text-align: center;
}
/* line 60, _movie.scss */
.progress-bar .filler {
  position: fixed;
  z-index: 6000;
  left: 50%;
  bottom: 15px;
  height: 49px;
  margin-left: -379px;
  height: 49px;
  width: 758px;
  background-image: url("../images/movie/timelineLoaded.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* opening screen */
/* line 78, _movie.scss */
.opening {
  position: fixed;
  z-index: 5000;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #FBFBFB;
  border-bottom: solid 4px #CCC;
}

/* line 85, _movie.scss */
.ship {
  position: fixed;
  z-index: 5001;
  background-image: url("../images/movie/colorShip.png");
  width: 373px;
  height: 161px;
  left: 50%;
  margin-left: -186.5px;
  top: 50%;
  margin-top: -80.5px;
}
/* line 95, _movie.scss */
.ship .blank {
  background-image: url("../images/movie/wireShip.png");
  width: 373px;
  height: 161px;
  position: fixed;
  z-index: 5002;
}

/* build screen */
/* line 104, _movie.scss */
.build {
  position: fixed;
  z-index: 5003;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  border-left: solid 10px rgba(255, 255, 0, 0.2);
}

/* the end screen */
/* line 111, _movie.scss */
.theend {
  position: fixed;
  z-index: 5004;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  border-bottom: solid 10px #CCC;
}

@font-face {
  font-family: CodeEnvy;
  src: url("../fonts/regular.otf");
}

/* normalize.css v2.0.1 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
/* line 31, main.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
/* line 41, main.scss */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 50, main.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 59, main.scss */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 73, main.scss */
html {
  font-family: 'CodeEnvy';
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 83, main.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 95, main.scss */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 104, main.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font size within `section` and `article` contexts in
 * Firefox 4+, Safari 5, and Chrome.
 */
/* line 117, main.scss */
h1 {
  font-size: 2em;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 125, main.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 134, main.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 142, main.scss */
dfn {
  font-style: italic;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 150, main.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
/* line 162, main.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 171, main.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/**
 * Set consistent quote types.
 */
/* line 181, main.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 189, main.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 198, main.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 205, main.scss */
sup {
  top: -0.5em;
}

/* line 209, main.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
/* line 221, main.scss */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 229, main.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 241, main.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
/* line 253, main.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 264, main.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
/* line 278, main.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 290, main.scss */
button,
input {
  line-height: normal;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 305, main.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 315, main.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
/* line 325, main.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 336, main.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 349, main.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 358, main.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 368, main.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 381, main.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* end Normalize */
/* line 401, main.scss */
.wrapper {
  width: 947px;
  margin: auto;
  border: solid 1px #CCC;
  position: relative;
}
@media only screen and (max-width: 947px) {
  /* line 401, main.scss */
  .wrapper {
    width: 100%;
  }
}

/*
  for movies only
*/
/* line 416, main.scss */
.wrapper.extended {
  height: 10000px;
}

/* line 420, main.scss */
header {
  text-align: center;
  padding: 20px;
  border-bottom: solid 1px #CCC;
}

/* line 425, main.scss */
footer {
  text-align: center;
  padding: 20px;
  border-top: solid 1px #CCC;
}

/* line 430, main.scss */
.scene {
  height: 400px;
  background-color: #FBFBFB;
  width: 100%;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

/* line 437, main.scss */
.overview {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  border-top: solid 1px #CCC;
}
/* line 441, main.scss */
.overview ul {
  padding: 0;
  margin: 0;
  text-align: center;
}
@media only screen and (min-width: 947px) {
  /* line 441, main.scss */
  .overview ul {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    *zoom: 1;
  }
}
/* line 449, main.scss */
.overview ul li {
  background-image: url("../images/tools.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 25px 25px;
  padding-top: 30px;
  margin-top: 10px;
}
@media only screen and (min-width: 947px) {
  /* line 449, main.scss */
  .overview ul li {
    width: 20%;
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    white-space: nowrap;
    white-space: normal;
    vertical-align: top;
  }
}
@media only screen and (max-width: 947px) {
  /* line 449, main.scss */
  .overview ul li {
    width: 100%;
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    white-space: nowrap;
    white-space: normal;
    vertical-align: top;
  }
}

/* line 478, main.scss */
.scroll-meter {
  position: fixed;
  z-index: 10000;
  right: 0;
  bottom: 10px;
  background-color: yellow;
  width: 150px;
  height: 50px;
  font-size: 40pt;
}
@media only screen and (max-width: 947px) {
  /* line 478, main.scss */
  .scroll-meter {
    display: none;
  }
}
