/* horizontal table */
.database-table {
   border: 1px solid #bebebe;
}

.database-table td {
   font-size: 11px;
   min-width: 55px;
   border-top: 1px solid #dcdcdc;
   text-align: center;
   border-left: 1px solid #e5e5e5;
}

.database-table td:first-child {
   border-left: 0;
}

.database-table th {
    color: #363636;
    font-size: 10px;
    font-weight: normal;
    text-transform: uppercase;
    min-width: 55px;
    text-align: center;
}


.database-table .header {
    vertical-align: middle;
	background: #dbdbdb;
    border-bottom: 1px solid #bebebe;
}

.database-table .header div {
    margin: 7px 0px;
}

.database-table .header a.unsorted,
.database-table .unsorted div {
	color: #248bc4;
	cursor: pointer;
    padding-left: 6px;
    padding-right: 12px;
	background-image: url('../images/small_triangular_arrows.png');
	background-repeat: no-repeat;
	background-position: 99% 30%;
	display: block;
}

.database-table .header a.ascending,
.database-table .ascending div {
    font-weight: bold;
    color: #248bc4;
    cursor: pointer;
    padding-left: 6px;
    padding-right: 12px;
    background-image: url('../images/small_triangular_up_arrow.png');
    background-repeat: no-repeat;
    background-position: 99% 2px;
    display: block;
}

.database-table .header a.descending,
.database-table .descending div {
    font-weight: bold;
    color: #248bc4;
    cursor: pointer;
	padding-left: 6px;
	padding-right: 12px;
    background-image: url('../images/small_triangular_down_arrow.png');
    background-repeat: no-repeat;
    background-position: 99% 2px;
    display: block;
}

.database-table .first-cell {
   background: #E5E5E5 !important;
   min-width: 205px;
   word-break: break-all;   
   border: 0;
   text-align: left;
}

.database-table .cell {
   overflow: hidden;
   padding: 8px;
}

.database-table .cell a {
   color: #248bc4;
}

.database-table .system {
   font-style: italic;
   color: gray;
}

.text-cursor {
   cursor: text;
}

.database-table tr:nth-child(even) {
   background: #fcfcfc;
}

.database-table .clicked-row {
	background: #f5f5f5 !important;
}

.database-table .clicked-row td {}

.database-table .mouseover-row {
	background: #f5f5f5 !important;
}


/* vertical table */
.database-table-vertical-row {
   border: 1px solid #bebebe;   
   text-align: left;
   font-size: 11px;
}

.database-table-vertical-row tr {}

.database-table-vertical-row th, .database-table-vertical-row td {
   padding: 8px;
}

.database-table-vertical-row .cell-name {
   font-weight: normal;
   min-width: 180px;
   text-transform: uppercase;
   background: #E5E5E5;
   text-align: right;
}

.database-table-vertical-row .cell {
   min-width: 180px;
   border-top: 1px solid #dcdcdc;
}

.database-table-vertical-row .cell a {
   color: #248bc4;
}

.text-cursor {
   cursor: text;
}

.database-table-vertical-row tr:nth-child(even) {
   background: #fcfcfc;
}

.database-table-vertical-row .clicked-row {
   background: #f5f5f5 !important;
}

.database-table-vertical-row .mouseover-row {
   background: #f5f5f5 !important;
}