/* horizontal table */
.database-table {
   border: 1px solid #ddd;
   border-radius: 4px; 
   margin: 0px;
}

.database-table td {
   font-size: 11px;
   border: 1px solid #ddd;
   min-width: 55px;
}

.database-table th {
   font-size: 13px;
   font-family: Times New Roman;
   line-height: 1;
   min-width: 55px;
}

.database-table .header {
   height: 22px;
   overflow: hidden;
   background:
      url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAYAAAABxvaqAAAAQ0lEQVR42oXEQQpFEQBA0bv/jSJKIhG6b/Ln/wwO7z259/4658jeW9ZaMueUMYb03qW1JrVWKaVIzllSShJjlBDCnz47ZlOwXDOZyQAAAABJRU5ErkJggg==")
      -0px -0px repeat-x;
   background-position: bottom;
   border-top: none;
   border-left: none;
   border-right: 1px solid #c8cccf;
   border-bottom: 1px solid #bac2cd;
   padding: 0 10px;
   text-align: left;
   color: #000;
   font-weight: normal;
   height: 23px;
   text-shadow: none;
}

.database-table .header a {
   color: #08c;
   padding-left: 14px;
   background-image: url('../images/small_triangular_arrows.png');
   background-repeat: no-repeat;
   background-position: left center;
}

.database-table .header a.ascending{
   font-weight: bold;
   padding-left: 14px;
   background-image: url('../images/small_triangular_up_arrow.png');
   background-repeat: no-repeat;
   background-position: left center;
}

.database-table .header a.descending{
   font-weight: bold;
   padding-left: 14px;
   background-image: url('../images/small_triangular_down_arrow.png');
   background-repeat: no-repeat;
   background-position: left center;
}

.database-table .first-cell {
   background: #d9e4f6 !important;
   min-width: 205px;
   /* border-bottom: 1px solid #ededed;*/ 
   border: none;
   word-break: break-all;   
}

.database-table .cell {
   overflow: hidden;
   padding: 3px 10px;
   height: 23px;
   font-family: Arial, Verdana, sans-serif;  
   word-break: break-all; 
}

.database-table .cell a {
   color: #08c;
}

.database-table .cell .system {
   font-style: italic;
   color: gray;
}

.text-cursor {
   cursor: text;
}

.database-table .pair-row {
   background: #f5f5f5;
}

.database-table .clicked-row {
	background: #d9e4f6;
}

.database-table .clicked-row td {
	border-color: #d9e4f6;
}

.database-table .mouseover-row {
	background: #eee;
}


/* vertical table */
.database-table-vertical-row {
   border: 0px;   
   text-align: left;
}

.database-table-vertical-row th, .database-table-vertical-row td {
   padding: 2px;
   border: none;
}

.database-table-vertical-row .cell-name {
   padding-right: 5px;
   font-weight: normal;
   min-width: 180px;
}

.database-table-vertical-row .cell {
   font-family: Arial, Verdana, sans-serif;
   font-weight: bold; 
   min-width: 180px;  
}

.database-table-vertical-row .cell a {
   color: #08c;
}

.text-cursor {
   cursor: text;
}

.database-table-vertical-row .pair-row {
   background: #f5f5f5;
}

.database-table-vertical-row .clicked-row {
   background: #d9e4f6;
}

.database-table-vertical-row .mouseover-row {
   background: #eee;
}

/* top table buttons */
.table-buttons {
   text-align: right;
   padding-bottom: 8px; 
}
.table-buttons .btn {
	padding: 0px 4px;
	color: #fff;
	font-style: italic;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #7D8085;
    *background-color: #7D8085;
    background-image: -ms-linear-gradient(top, #C0C5CC, #7D8085);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#C0C5CC,), to(#7D8085));
    background-image: -webkit-linear-gradient(top, #C0C5CC, #7D8085);
    background-image: -o-linear-gradient(top, #C0C5CC, #7D8085);
    background-image: -moz-linear-gradient(top, #C0C5CC, #7D8085);
    background-image: linear-gradient(top, #C0C5CC, #7D8085);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#C0C5CC,', endColorstr='#7D8085', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);	
	
    background-image: -webkit-linear-gradient(top, #C0C5CC, #7D8085);
}

.table-buttons .btn.active,
.table-buttons .btn:active
{
    color: rgba(255, 255, 255, 0.75);
/*        background-color: #004099  \9; */
}

.table-buttons .btn.active,
.table-buttons .btn:active
{

