.bottom-page-navigator {
	padding-top: 2px;
	word-break: break-all;
	text-align: right;
    font-size: 20px;
}

.bottom-page-navigator a {
	text-decoration: none;
}

.bottom-page-navigator a.page-link {
    margin: 0px 4px;
	color: #248bc4;
	border: 1px solid #bebebe;
	padding: 0px 6px;
}

.bottom-page-navigator a.page-link:hover {
    border: 1px solid #248bc4;
    text-decoration: none;
}

.bottom-page-navigator .previous {
	/*   background-image: ...;*/	
}

.bottom-page-navigator .next {
	/*   background-image: ...;*/
}

.bottom-page-navigator a.current {
	font-weight: bold;
    font-size: 1.2em;
	border: 1px solid #248bc4;
	background: #CFE4FE;
}

.bottom-page-navigator .empty {
	width: 12px;
	display: inline-block;
}