iframe {
	height: 100%;
}

.gadget-small {
    height: 360px;
    width: 100%;
    padding: 0;

}

.row-fluid .span4 {
    width: 48%;
}

.hero-unit {
    padding: 0;
    float: left;
/*    background: #ddd;*/
}

.full-width {
	width: 100%;
}

.single-column-gadget {
    width: 100%;
    min-height: 420px;
    border: none;
	 margin: 0px;
	 display: block;    
}

.hero-unit .jqplot-table-legend {
    color: #eee;
}

.ui-widget-content {
    color: #ddd;
}

.topFilteringPanel {
    text-align: left;
    overflow: hidden;
}

a.wso2 {
    background: url("../images/wso2.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 17px;
    width: 70px;
}

a.wso2:hover {
    background-position: 0 -18px;
}

.wso2Logo_footer {
    float: right;
}

.wso2copyRight_footer {
    float: left;
}

.plain {
    margin: 0 !important;
}

.clear-btn {
    width: 66px;
    margin-left: 20px;
}

.right {
    float: right;
}

.left {
    float: left;
}

.timelySwitch {
}

div.jqplot-table-legend-swatch {
    border-style: solid;
    border-width: 5px 6px;
    height: 0;
    width: 0;
    outline: 1px solid #C4C4C4;
}

div.jqplot-table-legend-swatch-outline {
    border: none;
}

.span3 select {
    max-width: 180px;
}

input.text-box, input.date-box {
  padding: 2px;
  margin: 0px;
}

/* Loader */
div#loader {
   z-index: 1;
   display: none;
}

div#loader .full-window-container {
   position: fixed;
   left: 0px;
   top: 0px;
   width: 100%;
   height: 100%;
   background: transparent;
   z-index: 1;
}

div#loader .loader-container {
   opacity: 0.1;
   filter: alpha(opacity = 10);
   position: absolute;
   left: 0px;
   top: 0px;
   width: 100%;
   height: 100%;
   background: #000000;
   filter: alpha(opacity = 10);
   -moz-opacity: 0.1;
   opacity: 0.1;
   ZOOM: 1;
}

div#loader div#loader-img {
   margin: 0 auto;
   position: relative;
}

div#loader div#loader-img img {
	border: 3px solid #B9B9B9;
	padding: 10px;
	background: white;
	border-radius: 15px;
}