/*
 * CODENVY CONFIDENTIAL
 * __________________
 *
 *  [2012] - [2014] Codenvy, S.A.
 *  All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Codenvy S.A. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Codenvy S.A.
 * and its suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Codenvy S.A..
 */
iframe {
    height: 100%;
}

body {
    font-family: HelveticaNeue-Light, "Helvetica Neue Light",
        "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    line-height: 1.42857143;
    color: #3c3c3c;
    background-color: #f9f9f9
}

footer {
    text-align: center;
    margin-bottom: 10px;
    height: 60px;
}

.gadget-small {
    height: 360px;
    width: 100%;
    padding: 0;
}

.row-fluid .span4 {
    width: 48%;
}

.hero-unit {
    padding: 0;
    margin: 0 !important;
    float: left;
    padding: 0 15px 15px;
}

.full-width {
    width: 100%;
}

.single-column-gadget {
    width: 100%;
/*    min-height: 420px;*/
    display: block;
}

.hero-unit .jqplot-table-legend {
    color: #eee;
}

.ui-widget-content {
    color: #ddd;
}

.plain {
    margin: 0 !important;
}

.clear-btn {
    width: 66px;
    margin-left: 20px;
}

.right {
    float: right;
}

.left {
    float: left;
}

.text-aligned-center {
    text-align: center;
}

.text-aligned-right {
    text-align: right;	
}

.timelySwitch {
}

.empty-field {
    height: 20px;
}

.bold {
	font-weight: bold;
}

div.jqplot-table-legend-swatch {
    border-style: solid;
    border-width: 5px 6px;
    height: 0;
    width: 0;
    outline: 1px solid #C4C4C4;
}

div.jqplot-table-legend-swatch-outline {
    border: none;
}

.span3 select {
    max-width: 180px;
}

/* Loader */
.loader-text {
	font-style: italic;
	padding-top: 3px;
}

.loader-image {
    line-height: 0px;
}

/* style of filter panel */
.topFilteringPanel {
    text-align: left;
    overflow: hidden;
    padding: 15px !important;
    min-width: 1100px;
}

.topFilteringPanel .filter-item {
    padding: 8px 0px;
}

.topFilteringPanel .filter-item button {
    margin-top: 7px;
}

.topFilteringPanel label {
    padding-right: 10px;
    color: #8b8b8b;
    font-size: 12px;
    text-transform: none;
    font-weight: 400;
}

.topFilteringPanel button,
.topFilteringPanel input {
    font-size: 12px !important;
}

.topFilteringPanel button.btn-small {
    font-size: 11px !important;
}

.short-date-box {
    width: 65px;
}

.short-gap {
    width: 10px;
}

.collabsiblePanelTitle {
    padding: 5px 10px !important;
}

/* error message styles */
.internalServerErrorMessage {
    color: rgb(210, 0, 0);
    padding: 2px 4px;
    font-style: italic;
    background-color: rgb(255, 235, 239);
}

.preferences {
    margin-left: 80px;
}

.preferences .btn {
    font-style: italic;
    margin-left: 0px;
    border-color: #ccc;
    background-color: #AFAFAF;
    background-image: -ms-linear-gradient(top, #fff, #AFAFAF);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#AFAFAF));
    background-image: -webkit-linear-gradient(top, #fff, #AFAFAF);
    background-image: -o-linear-gradient(top, #fff, #AFAFAF);
    background-image: linear-gradient(top, #fff, #AFAFAF);
    background-image: -moz-linear-gradient(top, #fff, #AFAFAF);
    outline: none;
}

.preferences .btn-primary {
    background-color: #0074cc;
    *background-color: #05c;
    background-image: -ms-linear-gradient(top, #08c, #05c);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#05c));
    background-image: -webkit-linear-gradient(top, #08c, #05c);
    background-image: -o-linear-gradient(top, #08c, #05c);
    background-image: -moz-linear-gradient(top, #08c, #05c);
    background-image: linear-gradient(top, #08c, #05c);
    background-repeat: repeat-x;
    border-color: #05c #05c #003580;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false)
}


/* styles of center column  */
.table-container {
    margin-bottom: 10px;
    background-color: white;
}

.chart-container {
    min-width: 1100px;
    background-color: white;
    padding-bottom: 5px;
}

.chart-label {
	padding-top: 20px;
	padding-bottom: 15px;
    font-weight: bold;
    color: #363636;
    font-size: 10px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}
