.view {
}

.view .overview {
   margin-bottom: 30px;
   background-color: #fcfcfc;
   border: 1px solid #ddd;
   border-radius: 4px;
   display: inline-block;
   min-width: 50%;
}

.view div.header {
	background-color: #0076B1;
	font-weight: bold;
	padding: 3px 11px;
	color: white;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.view .overview .body .item {
   float: left;
   padding: 5px 10px;
}

.view .overview .body table {
   display: inline;
   padding-right: 40 px;
}

.view .tables .item {
   float: left;
   margin-bottom: 20px;	
   width: 100%;
}

.view .tables .body table {
   width: 100%;
}


.view .tables .item .body {
}