.view {
}

.view .overview {
   margin-bottom: 20px;
   display: inline-block;
}

.view div.header {
	background-color: #54aee0;
	border-color: #54aee0;
	font-weight: 700;
    padding: 6px 15px;
	color: white;
	font-size: 13px;
	text-transform: uppercase;
}

.view div.header a {
    float: right;
    color: white;
}

.view .overview .body .item {
	background-color: white;
}

.view .overview .body table {}

.view .tables .item {}

.view .tables .body {}

.view .tables .body table {
   width: 100%;
}

.view .small-links-block {
	text-align: right;
	font-size: 80%;
    font-weight: bold;
    line-height: 135%;
}