.view {
}

.view .overview {
   margin-bottom: 20px;
   display: inline-block;
}

.view div.header {
	background-color: #54aee0;
	border-color: #54aee0;
	font-weight: 700;
    padding: 6px 15px;
	color: white;
	font-size: 15px;
	text-transform: uppercase;
}

.view div.header a {
    float: right;
    color: white;
}

.view .overview .body .item {
	background-color: #fcfcfc;
	border: 1px solid #ddd;
}

.view .overview .body table {
   display: inline;
}

.view .tables .item {}

.view .tables .body {
    padding: 15px;
}

.view .tables .body table {
   width: 100%;
}

.view .small-links-block {
	text-align: right;
	font-size: 80%;
    font-weight: bold;
    line-height: 135%;
}