/*
 * CODENVY CONFIDENTIAL
 * __________________
 *
 *  [2012] - [2015] Codenvy, S.A.
 *  All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Codenvy S.A. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Codenvy S.A.
 * and its suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Codenvy S.A..
 */
/* Greeting styles */
body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #474747;
}

.container {
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    padding: 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 11px;
    color: #DBDBDB;
}

.content {
    position: relative;
}

.content a:link,
.content a:visited {
    color: #DBDBDB;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 11px;
    font-weight: normal;
}

.main-icon {
    text-align: center;
}

hr.style-gradient {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

.features {
    width: 100%;
    border-collapse: collapse;
}

.features a:link {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #DBDBDB;
}

.features a:visited {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #DBDBDB;
}

.features-cell1 {
    overflow: hidden;
    width: 50px;
    height: 30px;
    vertical-align: middle;
    text-align: center;
}

.features-cell2 {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #DBDBDB;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    min-height: 28px;
    padding-top: 100px;
    background-clip: padding-box;
    background-color: rgba(178, 178, 178, 0.2);
    -webkit-box-shadow: inset 1px 1px 0 rgba(178, 178, 178, 0.1), inset 0 -1px 0 rgba(178, 178, 178, 0.07);
}

::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}
