@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), local('OpenSans'), url('/site/lib/fonts/open-sans-latin.woff2') format('woff2');
}
/* #####################  RESET CSS  ##################### */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}
img{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
:focus {
	outline: 0;
}
a:focus {
	outline: 0;
	text-decoration: none;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration:none;
	-webkit-transition:background 1s ease;
	-moz-transition:background 1s ease;
	transition:background 1s ease;
	font-weight: bold;
	color: #697BB0;
}
a:hover {
	text-decoration:underline;
	color: #697BB0;
}
::selection{
	background:#282828;
	color:#fff;
}
::-moz-selection{
	background:#282828;
	color:#fff;
}


/*Main CSS*/

body,h1,h2,h3,h4,h5,h6,a{
	font-family: 'Open Sans';
}
.no-padding{
	padding:0;
}

/*Navbar CSS*/

.signup a{
	background:#f47944;
	width:100px;
	line-height:40px;
	color:#fff;
	display:inline-block;
	text-align:center;
	border-radius:5px;
}

/*SignUp Page*/
.signup-page, .error-page{
	width:100%;
	height:100vh;
	background-color:#1B2B57;
	color:#4A90E2;
	background:#1B2B57;
	display:table;
}
.vmiddle{
	display: table-cell;
    vertical-align: middle;
}

.error-page-vmiddle{
    margin-top: 30vh;
}

.signup-page .logo, .error-page .logo{
	height:50px;
	width:277px;
	margin:20px 0px 21px 0px;
}

.error-page .logo{
	height:50px;
	width:277px;
	margin:0px 0px 40px 10px;
}

.signup-page h2, .error-page h2{
	font-size:24px;
	line-height:30px;
	font-weight:400;
	margin-bottom:19px;
	color: #cccccc;
}
.signup-page ul{
	margin-bottom:13px;
}
.signup-page ul li{
	display:block;
	line-height:40px;
	margin:0 5px;
	font-size:16px;
	font-weight:300;
	color:#fff;
}
.signup-page input[type="text"],.signup-page input[type="email"],.signup-page input[type="password"]{
	width:220px;
	height:42px;
	border-radius:5px;
	border:none;
	background:#2D407D;
	padding-left:21px;
	margin: 0px 5px;
	font-size:16px;
	font-weight:400;
	color:#fff;
	-webkit-transition:all .5s ease;
	-moz-transition:all .5s ease;
	transition:all .5s ease;
}
.signup-page input[type="text"]:focus,.signup-page input[type="email"]:focus,.signup-page input[type="password"]:focus{
	background:#597FA0;
}
.accept-license-page input[type="text"],.accept-license-page input[type="email"], .accept-license-page input[type="password"]{
	margin: 0px 0px 10px 0px;
	width: 60%;
	color: #fff;
}

.input-con{
	position:relative;
}

::-webkit-input-placeholder {
   color: #fff;
   opacity:1;
}

:-moz-placeholder { /* Firefox 18- */
   color: #fff;
   opacity:1;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;
   opacity:1;  
}

:-ms-input-placeholder {  
   color: #fff; 
   opacity:1; 
}

.signup-page input[type="submit"]{
	width:150px;
	border-radius:5px;
	border:none;
	background:#4BAEFF;
	font-size:16px;
	font-weight:400;
	color:#fff;
	-webkit-transition:all .5s ease;
	-moz-transition:all .5s ease;
	transition:all .5s ease;
}

.signup-page input[type="submit"]:hover{
	background:#4A90E2;
}

.signup-page li p a{
	margin: 0px;
	font-size: 14px;
	line-height: 24px;
	font-weight: 300;
	color: #BAC8DA;
}

.signup-page li a{
	display:inline-block;
	color:#fff;
}

.signup-page ul li a:hover{
	color: #4EABFF;
}

.signup-page ul li a img{
	height:40px;
	width:40px;
}

.signup-page p, .error-page p{
	font-size:22px;
	line-height:24px;
	font-weight:300;
	padding:0 10px;
	color:#BAC8DA;
}

.signup-page p a:hover{
	color:#fff;
}

.error-page-btn{
  	font-size: 16px;
	background: #4EABFF;
	padding: 12px 10px;
	border-radius: 5px;
	color: #fff;
	display: inline-block;
	margin: 0px 5px;
}

.error-page-btn:hover{
	background: #4A90E2;
	color: #fff;
}

.signup-page p span{
	display:block;
}

.relative{
	position:relative;
	display:inline-block;
}

.icon-bottom{
	position: relative;
	top:-1px;
	left:0;
	-webkit-transition:all .5s ease;
	-moz-transition:all .5s ease;
	transition:all .5s ease;
}

.icon-over{
	position:absolute;
	top:1px;
	left:0;
	-webkit-transition:all .5s ease;
	-moz-transition:all .5s ease;
	transition:all .5s ease;
}

.relative:hover .icon-over{
	opacity:0;
}
.license-text{
	overflow-y:scroll;
	overflow-x:auto;
	height:400px;
	background-color: #fff;
	color: #000;
	padding: 10px 15px;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Chrome/Safari/Opera */
	-khtml-user-select: none; /* Konqueror */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
}

.license-text p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    padding: 0 10px;
    color: black;
    text-align: justify;
}

.license-text h3 {
    padding: 14px 0px;
}

.license-text h5 {
    padding: 10px 0px;
}

.accept-license-page {
	color: #fff;
}

.accept-license-page input[type="submit"] {
    padding: 10px 10px;
    margin: 20px;
    border-radius: 5px;
    border: none;
    background: #44A73B;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}

.br{
	overflow-x:hidden;
	display: inline-block;
	border-radius: 10px;
    margin: 10px 0px;
    width: 60%;
}
/*Coustom Media Query Css*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.signup-page input[type="text"], .signup-page input[type="email"], .signup-page input[type="password"] {
	  display: block;
	  margin-bottom:10px;
	}
	.license-text{
		width: 100%;
	}
	.br{
		display: block;
	}
	.signup-page input[type="submit"]{
		margin-left:0px;
	}
	.input-con{
		display:block;
		margin-right: 5px;
	}
	.input-con label.error{
		top:-55px;
	}
	.signup-page input[type="text"], .signup-page input[type="password"]{
		margin-bottom:10px;
		width:100%;
		display:block;
		margin-left:0px;
		color: #fff;
	}
	.signup-page input[type="submit"]{
		margin-left:0px;
		width:100%;
		margin-bottom:20px;
	}
	.signup-page ul li {
		padding:0 10px;
		margin: 0;
		width: 100%;
	}
}

@media only screen and (max-width: 767px) {
	.large-device{
		display:none;
	}
	.small-device{
		display:block;
	}
	.displayblock{
		display:block;
	}
	.displaynone{
		display:none;
	}
	
	.signup-page h2, .error-page h2 {
	  font-size: 22px;
	  line-height: 26px;
	  margin-bottom: 16px;
	}
	.signup-page input[type="text"], .signup-page input[type="password"]{
		margin-bottom:10px;
		width:100%;
		display:block;
		margin-left:0px;
	}
	.license-text{
		width: 100%;
	}
	.br{
		display: block;
	}
	.signup-page input[type="submit"]{
		margin-left:0px;
		width:100%;
		margin-bottom:20px;
	}
	.signup-page ul li {
		padding:0 10px;
		margin: 0;
		width: 100%;
	}
	.signup-page p a, .error-page p a {
		display:block;
	}
	.input-con{
		display:block;
	}
	.input-con label.error{
		top:-55px;
	}
}

.error-container {
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    border-radius: 5px;
    background: rgb(215, 52, 45);
    margin: 0px 0px 15px 0px;
}
.light {
	width: 947px;
    padding: 45px 0px 80px 0px;
}
.light h1 {
        font-size: 32px;
        text-align: left;
        font-weight: 600;
    }
.light .subtitle-line   {
    width: 100%;
    border-top: solid 1px #fff;
    margin: 20px auto 20px auto;
}

.light hr {
	border: solid 1px #e3e4e7;
	margin: 30px auto;
}
.light p {
	text-align: left;
	font-weight: 500;
	color: #fff;
    line-height: 26px;
}
.expanded {
	padding: 10px;
	display: inline-block;
}
.short-line {
	width: 55px;
	border: 0;
	border-bottom: 1px solid #b4b4b4;
}	
.factory-notification {
	margin-top: 0px;
}
.factory-notification a {
	padding: 12px 30px;
	margin: 5px 5px;
	border-radius:5px;
	border:none;
	background:#4EABFF;
	font-size:16px;
	font-weight:400;
	color:#fff;
	-webkit-transition:all .5s ease;
	-moz-transition:all .5s ease;
	transition:all .5s ease;
}
.factory-notification p {
	border-radius:5px;
	border:none;
	font-size:20px;
	font-weight:400;
	color:#fff;
	margin-bottom: 15px;
	padding: 30px;

}

img.imgcenter {
  margin-top: 20px;
}

.oauth-button {
	margin-right: 5px;
}

.thank-you-page h4{
	color: #BAC8DA;
}

.notif {
	font-size: 16px;
    font-weight: 300;
    color: #fff;
	margin: 50px auto;
}

.fa-exclamation {
	padding: 10px 22px;
	margin-right: 15px;
	background-color:#2C3E7F;
	border-radius:6px;
	color: #fff;
}

.create-ws-add-memeber {
	margin: 30px 0px 0px 0px;
}
