.more-ram-dialog-content
  margin-top 10px
  min-height 475px
  height 475px
  min-width 750px
  width 750px

  .title
    font-size 11pt
    margin-bottom 10px
    margin-top 30px
    color $primary-color

  .value
    border-radius 2px
    max-width 60px
    color $label-secondary-color
    border 1px solid $default-border-color
    padding 7px 10px
    margin 0 10px
    outline none
    text-align center
    -moz-appearance textfield

  .info-label
    margin-bottom  20px

  .value::-webkit-inner-spin-button,  .value::-webkit-outer-spin-button
    -webkit-appearance none

  .value:focus
    border-color $primary-color

  .value.ng-invalid
    border-color $error-color

  .buttons-layout
    margin-top 10px

  .error-label
    color $error-color
    height 20px
    margin-top 5px

  .warning-label
    color $warning-color
    margin-bottom 10px
    margin-top 30px

    i
      margin-right 10px
      font-size 16pt

  card-info .card-info
    padding 0
    margin-top 15px

    .che-label-container
      display none

    .card-wrapper
      margin-right 50px

    .che-input-icon
      display none

    input
      padding-right 0

    .che-input, .che-select
      max-width 100%
