$box-color = #4e5a96
$button-color = #122375

.ram-info-box
  background-color $box-color
  max-width 370px
  border-radius 2px
  padding 15px
  color $white-color

  .title
    font-weight bold
    margin-bottom 15px

   .value
     background-color $white-color
     border-radius 2px
     color $label-secondary-color
     padding 10px
     margin-right 10px

   .button
     background-color $button-color
     padding 10px 20px
     border-radius 2px
     float right
     margin-left auto
     cursor pointer
     outline none
   .button:hover
     background-color darken(#122375, 20%)
