.cancel-agreement-message
  width 870px

.cancel-agreement-message > span
  display inline-block
  width 100%
  margin-bottom 10px
  margin-top 10px
  font-size 14px

.cancel-agreement-message che-button-primary button
  float right
  margin-right 0
  margin-bottom 0
