.license-agreement-message
  display inline-block
  overflow hidden
  min-width 520px

.agreement
  font-size 14px
  overflow-x auto
  max-height 400px
  margin-bottom 10px

  h4
    font-size 16px
    font-weight bold
    text-align center

  span
    margin 5px 0 5px

  li > span > span
      text-indent 20px

      & > span
        text-indent 30px

        & > span
          text-indent 40px

          & > span
            text-indent 50px

    span
      display block

.agreement ol
  -webkit-padding-start 35px
  -moz-padding-start 35px
  padding-start 35px

  a
    font-weight bold
    white-space nowrap
    text-decoration underline

.agreement > ol
  counter-reset a

.agreement > ol > li
  counter-increment a
  margin 5px 0 5px 0

  & > u
    font-weight bold

.agreement ol > ol
  counter-reset b

.agreement ol > ol > li
  position relative
  margin-right 5px
  counter-increment b
  list-style-type none

.agreement ol > ol > li:before
  content counter(a) "." counter(b) "."
  display inline-block
  position absolute
  text-align end
  width 35px
  left -38px
  top 0

.license-agreement-message che-button-primary button,
.license-agreement-message che-button-notice button
  float right
  margin-right 0
  margin-bottom 0
