.license-message
  top 0
  left 0
  right 0
  position fixed
  z-index 16777271
  line-height 30px
  text-align center
  max-height 30px
  overflow-y auto
  box-sizing content-box
  border 1px solid $config-frame-warning-color
  background-color $config-frame-warning-color

.license-message a
  color $white-color
  text-decoration underline

.license-message a:hover
  che-brightness(90%)

.show-ide > .license-message
  display none

.license-message-indent:not(*.show-ide)
  padding-top 30px
