<!--

    CODENVY CONFIDENTIAL
    __________________

     [2015] - [2016] Codenvy, S.A.
     All Rights Reserved.

    NOTICE:  All information contained herein is, and remains
    the property of Codenvy S.A. and its suppliers,
    if any.  The intellectual and technical concepts contained
    herein are proprietary to Codenvy S.A.
    and its suppliers and may be covered by U.S. and Foreign Patents,
    patents in process, and are protected by trade secret or copyright law.
    Dissemination of this information or reproduction of this material
    is strictly forbidden unless prior written permission is obtained
    from Codenvy S.A..

-->
<div class="left-sidebar-container">
  <md-toolbar class="flex-shrink-none">
    <md-progress-linear md-mode="indeterminate" ng-hide="codenvyNavbarCtrl.email"></md-progress-linear>
    <div ng-show="codenvyNavbarCtrl.email" layout="column" flex>

      <div layout="row" layout-align="start center">
        <section class="navbar-top-logo logo-color-white" layout="column" layout-align="center left"
                 ng-include="branding.logoText">
        </section>
        <div flex></div>
        <navbar-notification></navbar-notification>
      </div>

      <md-divider md-theme="factory-theme"></md-divider>

      <div class="admin-navbar-menu">
        <section class="left-sidebar-menu" layout="column" layout-align="center center">
          <md-list layout="column">
            <md-list-item flex class="navbar-subsection-item"
                          ng-show="codenvyNavbarCtrl.displayLoginItem">
              <md-button nav-bar-selected flex ng-href="{{codenvyNavbarCtrl.menuItemUrl.login}}" layout-align="left">
                <div class="navbar-item" layout="row" layout-align="start center">
                  <i class="fa fa-user navbar-icon">&nbsp;</i>
                  <span>Login</span>
                </div>
              </md-button>
            </md-list-item>
            <md-list-item flex class="navbar-subsection-item">
              <md-button nav-bar-selected flex che-reload-href
                         ng-href="{{codenvyNavbarCtrl.menuItemUrl.dashboard}}" layout-align="left"
                         target="_self">
                <div class="navbar-item" layout="row" layout-align="start center">
                  <md-icon md-font-icon="navbar-icon chefont cheico-dashboard" aria-label="Dashboard"></md-icon>
                  <span>Dashboard</span>
                </div>
              </md-button>
            </md-list-item>
            <md-list-item flex class="navbar-subsection-item">
              <md-button nav-bar-selected flex che-reload-href
                         ng-href="{{codenvyNavbarCtrl.menuItemUrl.workspaces}}" layout-align="left">
                <div class="navbar-item" layout="row" layout-align="start center">
                  <md-icon md-font-icon="navbar-icon chefont cheico-workspace"></md-icon>
                  <span>Workspaces</span>
                  <span class="navbar-number" ng-show="codenvyNavbarCtrl.getWorkspacesNumber()">&nbsp;({{codenvyNavbarCtrl.getWorkspacesNumber()}})</span>
                </div>
              </md-button>
            </md-list-item>
            <md-list-item flex class="navbar-subsection-item">
              <md-button nav-bar-selected flex che-reload-href
                         ng-href="{{codenvyNavbarCtrl.menuItemUrl.stacks}}" layout-align="left">
                <div class="navbar-item" layout="row" layout-align="start center">
                  <i class="fa fa-archive navbar-icon" aria-hidden="true"></i>
                  <span>Stacks</span>
                </div>
              </md-button>
            </md-list-item>
            <md-list-item flex class="navbar-subsection-item" ng-if="codenvyNavbarCtrl.isFactoryServiceAvailable">
              <md-button nav-bar-selected flex che-reload-href
                         ng-href="{{codenvyNavbarCtrl.menuItemUrl.factories}}" layout-align="left">
                <div class="navbar-item" layout="row" layout-align="start center">
                  <md-icon md-font-icon="navbar-icon chefont cheico-factory"></md-icon>
                  <span>Factories</span>
                  <span class="navbar-number" ng-show="codenvyNavbarCtrl.getFactoriesNumber()">&nbsp;({{codenvyNavbarCtrl.getFactoriesNumber()}})</span>
                </div>
              </md-button>
            </md-list-item>
          </md-list>
        </section>
      </div>

      <div class="admin-navbar-menu"
           ng-if="codenvyNavbarCtrl.userServices.hasInstallationManagerService || codenvyNavbarCtrl.userServices.hasAdminUserService">
        <section class="left-sidebar-menu" layout="column" layout-align="start start">

          <div class="navbar-section"
               flex layout="row" layout-align="start start">
            <span flex class="navbar-section-title">Administration</span>
          </div>

          <md-list layout="column">
            <md-list-item flex class="navbar-subsection-item"
                          ng-if="codenvyNavbarCtrl.userServices.hasInstallationManagerService">
              <md-button nav-bar-selected flex che-reload-href
                         ng-href="{{codenvyNavbarCtrl.menuItemUrl.administration}}"
                         layout-align="left">
                <div class="navbar-item" layout="row" layout-align="start center">
                  <i class="fa fa-cog navbar-icon" aria-hidden="true"></i>
                  <span>Settings</span>
                </div>
              </md-button>
            </md-list-item>
            <md-list-item flex class="navbar-subsection-item"
                          ng-if="codenvyNavbarCtrl.userServices.hasAdminUserService">
              <md-button nav-bar-selected flex che-reload-href
                         ng-href="{{codenvyNavbarCtrl.menuItemUrl.usermanagement}}"
                         layout-align="left">
                <div class="navbar-item" layout="row" layout-align="start center">
                  <i class="fa fa-user fa-lg navbar-icon"></i>
                  <span>Users</span>
                </div>
              </md-button>
            </md-list-item>
          </md-list>
        </section>
      </div>

      <navbar-recent-workspaces></navbar-recent-workspaces>
      <navbar-teams></navbar-teams>

      <div ng-show="codenvyNavbarCtrl.isAdminServiceAvailable" class="admin-navbar-menu"
           ng-init="configMenuIsExpand=true">
        <div class="navbar-identity"
             flex layout="row" layout-align="start center" ng-click="configMenuIsExpand=!configMenuIsExpand">
          <span flex layout="row" layout-align="start center" layout-padding>
            <i class="material-design icon-ic_build_24px">&nbsp;</i>
            <span flex class="navbar-title">Configuration</span>
          </span>
          <i class="material-design md-tab-themed"
             ng-class="configMenuIsExpand ? 'icon-ic_expand_less_24px' : 'icon-ic_expand_more_24px'">
            &nbsp;</i>
        </div>
        <section class="animation navbar-subsection"
                 flex layout="column" layout-align="center start" layout-fill
                 class="animation"
                 ng-if="configMenuIsExpand">
          <md-list layout="column" flex>
            <md-list-item ng-show="codenvyNavbarCtrl.isAdminPluginServiceAvailable" flex class="navbar-subsection-item">
              <md-button nav-bar-selected flex che-reload-href
                         ng-href="{{codenvyNavbarCtrl.menuItemUrl.plugins}}" layout-align="left">
                <div class="navbar-item" layout="row" layout-align="start center">Plug-Ins</div>
              </md-button>
            </md-list-item>
          </md-list>
        </section>
      </div>

      <div flex layout="column" layout-align="end start"
           class="admin-navbar-menu">
        <section class="left-sidebar-menu navbar-account-section">
          <md-list layout="column" flex>

            <md-list-item flex class="navbar-subsection-item">
              <navbar-dropdown-menu flex
                                    navbar-dropdown-items="codenvyNavbarCtrl.accountItems"
                                    navbar-dropdown-offset="15 -45">
                <md-button ng-href="" layout-align="left">
                  <div class="navbar-item navbar-identity" layout="row" layout-align="start center">

                    <i class="navbar-icon" flex="none">
                      <img class="developers-face" gravatar-src="codenvyNavbarCtrl.email"/>
                    </i>
                    <span flex style="text-align: left;">{{codenvyNavbarCtrl.cheAPI.getProfile().getFullName(codenvyNavbarCtrl.profile.attributes)}}</span>
                    <i class="fa fa-angle-up navbar-icon" aria-hidden="true"></i>
                  </div>
                </md-button>
              </navbar-dropdown-menu>
            </md-list-item>
          </md-list>
        </section>
      </div>

    </div>
  </md-toolbar>

  <div class="navbar-iframe-button-left-border" ng-show="showIDE"></div>

</div>
