<?xml version="1.0" encoding="UTF-8"?>
<!--

 CODENVY CONFIDENTIAL
 ________________

 [2012] - [2013] Codenvy, S.A.
 All Rights Reserved.
 NOTICE: All information contained herein is, and remains
 the property of Codenvy S.A. and its suppliers,
 if any. The intellectual and technical concepts contained
 herein are proprietary to Codenvy S.A.
 and its suppliers and may be covered by U.S. and Foreign Patents,
 patents in process, and are protected by trade secret or copyright law.
 Dissemination of this information or reproduction of this material
 is strictly forbidden unless prior written permission is obtained
 from Codenvy S.A..
-->
<!DOCTYPE web-app
        PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <display-name>Analytics Service</display-name>

    <listener>
      <listener-class>com.codenvy.analytics.server.jobs.JobsRunner</listener-class>
    </listener>
    <!-- Servlets -->
    
    <servlet>
      <servlet-name>queryServlet</servlet-name>
      <servlet-class>com.codenvy.analytics.server.QueryServiceImpl</servlet-class>
    </servlet>

    <servlet>
      <servlet-name>AnalysisServlet</servlet-name>
      <servlet-class>com.codenvy.analytics.server.AnalysisServiceImpl</servlet-class>
    </servlet>

    <servlet>
      <servlet-name>UserServlet</servlet-name>
      <servlet-class>com.codenvy.analytics.server.UserServiceImpl</servlet-class>
    </servlet>

    <servlet>
      <servlet-name>TimeLineServlet</servlet-name>
      <servlet-class>com.codenvy.analytics.server.TimeLineServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
      <servlet-name>AnalysisServlet</servlet-name>
      <url-pattern>/AnalyticsApplication/Analysis</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
      <servlet-name>UserServlet</servlet-name>
      <url-pattern>/AnalyticsApplication/User</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
      <servlet-name>TimeLineServlet</servlet-name>
      <url-pattern>/AnalyticsApplication/TimeLine</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
      <servlet-name>queryServlet</servlet-name>
      <url-pattern>/AnalyticsApplication/query</url-pattern>
    </servlet-mapping>

    <!-- Default page to serve -->
    <welcome-file-list>
        <welcome-file>AnalyticsApplication.html</welcome-file>
    </welcome-file-list>
</web-app>
