<?xml version="1.0" encoding="UTF-8"?>
<!--

         CODENVY CONFIDENTIAL
         ________________

         [2012] - [2013] Codenvy, S.A.
         All Rights Reserved.
         NOTICE: All information contained herein is, and remains
         the property of Codenvy S.A. and its suppliers,
         if any. The intellectual and technical concepts contained
         herein are proprietary to Codenvy S.A.
         and its suppliers and may be covered by U.S. and Foreign Patents,
         patents in process, and are protected by trade secret or copyright law.
         Dissemination of this information or reproduction of this material
         is strictly forbidden unless prior written permission is obtained
         from Codenvy S.A..
-->
<events>
    <event name="ide-usage">
        <description>IDE usage</description>
        <parameters>
            <param>WS</param>
            <param>USER</param>
        </parameters>
    </event>
    <event name="users-events">
        <description>Custom event</description>
        <parameters>
            <param>USER</param>
            <param>ACTION</param>
        </parameters>
    </event>
    <event name="user-code-refactor">
        <description>Code refactoring</description>
        <parameters>
            <param>WS</param>
            <param>USER</param>
            <param>PROJECT</param>
            <param>TYPE</param>
            <param>FEATURE</param>
        </parameters>
    </event>
    <event name="user-code-complete">
        <description>Autocompleting</description>
        <parameters>
            <param>WS</param>
            <param>USER</param>
            <param>PROJECT</param>
            <param>TYPE</param>
        </parameters>
    </event>
    <event name="build-started">
        <description>Build started</description>
        <parameters>
            <param>WS</param>
            <param>USER</param>
            <param>PROJECT</param>
            <param>TYPE</param>
            <param>ID</param>
        </parameters>
    </event>
    <event name="build-finished">
        <description>Build finished</description>
        <parameters>
            <param>WS</param>
            <param>USER</param>
            <param>PROJECT</param>
            <param>TYPE</param>
            <param>ID</param>
        </parameters>
    </event>
    <event name="run-started">
        <description>Run started</description>
        <parameters>
            <param>WS</param>
            <param>USER</param>
            <param>PROJECT</param>
            <param>TYPE</param>
            <param>ID</param>
        </parameters>
    </event>
    <event name="run-finished">
        <description>Run finished</description>
        <parameters>
            <param>WS</param>
            <param>USER</param>
            <param>PROJECT</param>
            <param>TYPE</param>
            <param>ID</param>
        </parameters>
    </event>
    <event name="build-queue-waiting-started">
        <description>Build queue started</description>
        <parameters>
            <param>WS</param>
            <param>USER</param>
            <param>PROJECT</param>
            <param>TYPE</param>
            <param>ID</param>
        </parameters>
    </event>
    <event name="build-queue-waiting-finished">
        <description>Build queue finished</description>
        <parameters>
            <param>WS</param>
            <param>USER</param>
            <param>PROJECT</param>
            <param>TYPE</param>
            <param>ID</param>
        </parameters>
    </event>
    <event name="run-queue-waiting-started">
        <description>Run queue started</description>
        <parameters>
            <param>WS</param>
            <param>USER</param>
            <param>PROJECT</param>
            <param>TYPE</param>
            <param>ID</param>
        </parameters>
    </event>
    <event name="run-queue-waiting-finished">
        <description>Run queue finished</description>
        <parameters>
            <param>WS</param>
            <param>USER</param>
            <param>PROJECT</param>
            <param>TYPE</param>
            <param>ID</param>
        </parameters>
    </event>
    <event name="configure-docker-started">
        <description>Configure docker started</description>
        <parameters>
            <param>WS</param>
            <param>USER</param>
            <param>ID</param>
        </parameters>
    </event>
    <event name="configure-docker-finished">
        <description>Configure docker finished</description>
        <parameters>
            <param>WS</param>
            <param>USER</param>
            <param>ID</param>
        </parameters>
    </event>
    <event name="collaborative-session-started">
        <description>Collaborative session started</description>
        <parameters>
            <param>WS</param>
            <param>USER</param>
            <param>ID</param>
        </parameters>
    </event>
    <event name="build-queue-terminated">
        <description>Build queue terminated</description>
        <parameters>
            <param>WS</param>
            <param>USER</param>
            <param>PROJECT</param>
            <param>TYPE</param>
            <param>ID</param>
        </parameters>
    </event>
    <event name="run-queue-terminated">
        <description>Run queue terminated</description>
        <parameters>
            <param>WS</param>
            <param>USER</param>
            <param>PROJECT</param>
            <param>TYPE</param>
            <param>ID</param>
        </parameters>
    </event>
    <event name="tenant-created">
        <description>Workspace created</description>
        <parameters>
            <param>WS</param>
            <param>USER</param>
        </parameters>
    </event>
    <event name="tenant-started">
        <description>Workspace started</description>
        <parameters>
            <param>WS</param>
        </parameters>
    </event>
    <event name="tenant-stopped">
        <description>Workspace stopped</description>
        <parameters>
            <param>WS</param>
        </parameters>
    </event>
    <event name="tenant-destroyed">
        <description>Workspace destroyed</description>
        <parameters>
            <param>WS</param>
        </parameters>
    </event>
    <event name="project-created">
        <description>Project created</description>
        <parameters>
            <param>WS</param>
            <param>USER</param>
            <param>PROJECT</param>
            <param>TYPE</param>
        </parameters>
    </event>
    <event name="project-destroyed">
        <description>Project destroyed</description>
        <parameters>
            <param>WS</param>
            <param>USER</param>
            <param>PROJECT</param>
            <param>TYPE</param>
        </parameters>
    </event>
    <event name="project-deployed">
        <description>Project deployed</description>
        <parameters>
            <param>WS</param>
            <param>USER</param>
            <param>PROJECT</param>
            <param>TYPE</param>
            <param>PAAS</param>
        </parameters>
    </event>
    <event name="project-built">
        <description>Project built</description>
        <parameters>
            <param>WS</param>
            <param>USER</param>
            <param>PROJECT</param>
            <param>TYPE</param>
        </parameters>
    </event>
    <event name="application-created">
        <description>Application deployed</description>
        <parameters>
            <param>WS</param>
            <param>USER</param>
            <param>PROJECT</param>
            <param>TYPE</param>
            <param>PAAS</param>
        </parameters>
    </event>
    <event name="artifact-deployed">
        <description>Artifact deployed</description>
        <parameters>
            <param>WS</param>
            <param>USER</param>
            <param>PROJECT</param>
            <param>TYPE</param>
            <param>PAAS</param>
        </parameters>
    </event>
    <event name="user-created">
        <description>User created</description>
        <parameters>
            <param>ALIASES</param>
            <param>USER-ID</param>
        </parameters>
    </event>
    <event name="user-removed">
        <description>User removed</description>
        <parameters>
            <param>ALIASES</param>
            <param>USER-ID</param>
        </parameters>
    </event>
    <event name="user-invite">
        <description>User sent invite</description>
        <parameters>
            <param>WS</param>
            <param>USER</param>
            <param>EMAIL</param>
        </parameters>
    </event>
    <event name="user-changed-name">
        <description>User changed account</description>
        <parameters>
            <param>OLD-USER</param>
            <param>NEW-USER</param>
        </parameters>
    </event>
    <event name="user-sso-logged-in">
        <description>User logged in</description>
        <parameters>
            <param>USING</param>
            <param>USER</param>
        </parameters>
    </event>
    <event name="user-sso-logged-out">
        <description>User logged out</description>
        <parameters>
            <param>USER</param>
        </parameters>
    </event>
    <event name="session-started">
        <description>Ide focused</description>
        <parameters>
            <param>WS</param>
            <param>USER</param>
            <param>SESSION-ID</param>
            <param>WINDOW</param>
        </parameters>
    </event>
    <event name="ide-opened">
        <description>IDE opened</description>
        <parameters>
            <param>WS</param>
            <param>USER</param>
        </parameters>
    </event>
    <event name="ide-closed">
        <description>IDE closed</description>
        <parameters>
            <param>WS</param>
            <param>USER</param>
        </parameters>
    </event>
    <event name="idle">
        <description>Session Terminated</description>
        <parameters>
            <param>WS</param>
            <param>USER</param>
        </parameters>
    </event>
    <event name="session-finished">
        <description>Ide defocused</description>
        <parameters>
            <param>WS</param>
            <param>USER</param>
            <param>SESSION-ID</param>
            <param>WINDOW</param>
        </parameters>
    </event>
    <event name="shell-launched">
        <description>Shell launched</description>
        <parameters>
            <param>WS</param>
            <param>USER</param>
        </parameters>
    </event>
    <event name="user-added-to-ws">
        <description>User joined to workspace</description>
        <parameters>
            <param>WS</param>
            <param>USER</param>
            <param>FROM</param>
        </parameters>
    </event>
    <event name="factory-created">
        <description>Factory created</description>
        <parameters>
            <param allow-empty-value="true">WS</param>
            <param>USER</param>
            <param allow-empty-value="true">PROJECT</param>
            <param>TYPE</param>
            <param>REPO-URL</param>
            <param>FACTORY-URL</param>
            <param allow-empty-value="true">AFFILIATE-ID</param>
            <param allow-empty-value="true">ORG-ID</param>
        </parameters>
    </event>
    <event name="factory-project-imported">
        <description>Factory project imported</description>
        <parameters>
            <param>WS</param>
            <param>USER</param>
            <param>PROJECT</param>
            <param>TYPE</param>
        </parameters>
    </event>
    <event name="session-factory-started">
        <description>Factory session started</description>
        <parameters>
            <param>WS</param>
            <param>USER</param>
            <param>SESSION-ID</param>
        </parameters>
    </event>
    <event name="session-factory-stopped">
        <description>Factory session finished</description>
        <parameters>
            <param>WS</param>
            <param>USER</param>
            <param>SESSION-ID</param>
        </parameters>
    </event>
    <event name="factory-url-accepted">
        <description>Factory accepted</description>
        <parameters>
            <param>WS</param>
            <param allow-empty-value="true">REFERRER</param>
            <param>FACTORY-URL</param>
            <param allow-empty-value="true">AFFILIATE-ID</param>
            <param allow-empty-value="true">ORG-ID</param>
        </parameters>
    </event>
    <event name="jrebel-usage">
        <description>JRebel usage</description>
        <parameters>
            <param>WS</param>
            <param>USER</param>
            <param>PROJECT</param>
            <param>TYPE</param>
            <param>JREBEL</param>user
        </parameters>
    </event>
    <event name="jrebel-user-profile-info">
        <description>JRebel profile gathering</description>
        <parameters>
            <param>WS</param>
            <param>USER</param>
            <param>USER-ID</param>
            <param>FIRSTNAME</param>
            <param>LASTNAME</param>
            <param>PHONE</param>
        </parameters>
    </event>
    <event name="build-interrupted">
        <description>Build interrupted</description>
        <parameters>
            <param>WS</param>
            <param>USER</param>
            <param>PROJECT</param>
            <param>TYPE</param>
        </parameters>
    </event>
    <event name="user-update-profile">
        <description>User update profile</description>
        <parameters>
            <param>USER</param>
            <param allow-empty-value="true">FIRSTNAME</param>
            <param allow-empty-value="true">LASTNAME</param>
            <param allow-empty-value="true">COMPANY</param>
            <param allow-empty-value="true">PHONE</param>
            <param allow-empty-value="true">JOBTITLE</param>
        </parameters>
    </event>
</events>
