.workspace-users-content
  padding 15px

.workspace-users-list
  margin 1px
  margin-top 5px

  user-item:not(:last-of-type) .che-list-item
    border-bottom 1px solid $list-separator-color

.share-user-section
  margin-bottom 20px
  margin-top 10px

.user-exists-checked
  color $che-green-color
  float left
  margin-right 3px

.user-exists
  background-color $valid-color

.share-user-input
  .md-chips:not(.md-focused)
    box-shadow 0 1px $default-border-color !important

  .md-chips.md-focused
    box-shadow 0 1px $primary-color !important

  .md-chips .md-chip
    height 18px
    line-height 18px
    margin 0px
    margin-right 5px
    font-size 13px
    border-radius 4px

  .md-chips .md-chip.md-focused
    background-color alpha($che-medium-blue-color, 0.8)

  .md-chips .md-chip .md-chip-remove-container, .md-chips .md-chip .md-chip-remove
    line-height 18px
    height 18px

  .md-chips .md-chip .md-chip-remove md-icon
    width 12px
    height 12px

  .md-chips .md-chip-input-container
    line-height 18px
    height 18px
    padding 0px
    margin 0px

    input
      font-size 13px
      line-height 18px
      height 18px

.no-permissions-error
  padding 20px
  font-size 10pt

.no-permissions-error span
  margin-right 10px
