.database-table {
   border: 1px solid #ddd;
   border-radius: 4px;   
}

.database-table td {
   font-size: 11px;
}

.database-table th {
   font-size: 13px;
   min-width: 45px;
   font-family: Times New Roman;
}

.database-table .header {
   height: 22px;
   overflow: hidden;
   background:
      url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAYAAAABxvaqAAAAQ0lEQVR42oXEQQpFEQBA0bv/jSJKIhG6b/Ln/wwO7z259/4658jeW9ZaMueUMYb03qW1JrVWKaVIzllSShJjlBDCnz47ZlOwXDOZyQAAAABJRU5ErkJggg==")
      -0px -0px repeat-x;
   background-position: bottom;
   border-top: none;
   border-left: none;
   border-right: 1px solid #c8cccf;
   border-bottom: 1px solid #bac2cd;
   padding: 0 10px;
   text-align: left;
   color: #000;
   font-weight: normal;
   height: 23px;
   text-shadow: none;
}

.database-table .first-cell {
   background: #d9e4f6 !important;
   width: 150px;
   min-width: 150px;
}

.database-table .cell {
   overflow: hidden;
   border-bottom: 1px solid #ededed;
   border-right: none;
   border-left: none;
   padding: 3px 10px;
   height: 23px;
   font-family: Arial, Verdana, sans-serif;   
}

.database-table .cell a {
   color: #08c;
}

.text-cursor {
   cursor: text;
}

.database-table .pair-row {
   background: #f5f5f5;
}

.database-table .clicked-row {
	background: #d9e4f6;
}

.database-table .mouseover-row {
	background: #eee;
}