.bottom-page-navigator {
	float: right; 
	padding-top: 8px;
}

.bottom-page-navigator a {
   text-decoration: none;
}

.bottom-page-navigator .page-link {
	font-size: 1.5em;
   margin-left: 7px;
   color: #08c;
}

.bottom-page-navigator .previous {
/*   background-image: ...;*/
}

.bottom-page-navigator .next {
/*   background-image: ...;*/
}

.bottom-page-navigator .current {
	font-weight: bold;
}

.bottom-page-navigator .empty {
   width: 12px;
   display: inline-block;
}