.view {
	clear: both;
}

.overview {
   padding-bottom: 30px;
}

.overview .table {
   display: inline;
   padding-right: 40px;
}

.overview .header {
   text-decoration: underline;
	font-size: 1.5em;
	padding-bottom: 5px;
}

.database-tables {
}

.database-tables table {
   float: left;
   margin-bottom: 20px;
}