.card-info
  color $label-secondary-color
  padding 12px 40px 0

  .card-info-delete-label label
    color $che-delete-label-color

  .card-info-cardholder
    text-transform uppercase

  .che-label-container
    padding-bottom 15px

  .che-input, .che-select
    min-height 38px
    max-height 38px
    min-width 350px
    max-width 650px

  .che-input .che-input-desktop-label
    white-space nowrap
    min-width 120px
    max-width 120px
    width 120px
    font-size 12px
    padding-top 2px

  .che-select
    margin-top -2px

    label
      min-width 120px
      max-width 120px
      width 120px
      padding-top 3px
