.member-dialog-content
  width 600px

  button
    margin 0 0 0 20px

  md-switch
    margin 0px
    color $label-primary-color

.member-dialog-content .che-label-container .che-label-container-label
  width 150px
  min-width 150px
