/*
 *  [2012] - [2017] Codenvy, S.A.
 *  All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Codenvy S.A. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Codenvy S.A.
 * and its suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Codenvy S.A..
 */
.ideMenuAdditions {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 20px;
    z-index: 1;
    padding: 0px;
    -moz-box-sizing: border-box;
    overflow: hidden;

    float: right;
}

.ideMenuAdditionsTable {
    height: 20px;
}

#premium {
    height: 20px;
    color: #d7d7d9;
    font-family: Verdana, Bitstream Vera Sans, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: normal;
    cursor: default;
}

#premium:HOVER {
    background-color: #404040;
}

.ideMenuAdditionsTable td:HOVER {
    background-color: #707070;
}

.ideMenuAdditionsTable td:ACTIVE,
.ideMenuAdditionsTable .ACTIVE {
    background-color: #404040;
}

.ideMenuAdditionsTable td a {
    height: 20px;
    color: #FFFFFF;
    font-family: Verdana, Bitstream Vera Sans, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: normal;
    padding-left: 0px;
    padding-right: 0px;
    cursor: pointer;
    text-decoration: none;
}
