.change-password .prompt
  color $disabled-color
  width 200px

  .path-strength
    width 100%

  & > div
    margin-top 10px

.change-password div[ng-show],
.change-password div[ng-message]
  position absolute

.change-password
  .change-password-new-password
    margin-top -6px
    margin-bottom 40px

  .change-password-confirmation
    margin 30px 0


