
<!-- logo  -->

<div class="fixed-logo"
     data-0="opacity:0;" data-_rubicon="opacity:1;"
></div>

<!-- progress bar -->
<div class="progress-bar"
    data-0="opacity:0;bottom:15px;"
    data-_rubicon="opacity:1;bottom:15px;"
    data-_theend--500="bottom:15px;"
    data-_theend="bottom:-150px;"
>
    <div class="filler"
        data-0="width:0%;"
        data-_rubicon="width:5%;"
        data-_build="width:25%;"
        data-_theend--500="width:100%;bottom:15px;"
        data-_theend="bottom:-150px;"
    ></div>
</div>


<!-- Opening frame with the onboarding experience  -->

<div

class="opening"
data-0="left[cubic]:0%;top[cubic]:0%;opacity:0;"
data-_rubicon="left[cubic]:0%;top[cubic]:0%;opacity:1;"
data-_rubicon-1000="left[cubic]:0%;top[cubic]:0%;opacity:1;"
data-_build="left[cubic]:-100%;top[cubic]:0%;opacity:1;"
>
    <div class="narrative"
        data-_rubicon-1000="left:50%;"
        data-_build-500="left:-50%;"
    >
        <h2>It all starts with a great idea</h2>
        <p>With CodeEnvy you can start building amazing things right away.</p>
        <p>We do all the heavy lifting so you don't have to.</p>
    </div>
</div>


<!-- Ship -->

<div class="ship"
    data-0="opacity:0;top: 50%;"
    data-_rubicon="opacity:1;top: 50%;"
    data-_theend--500="opacity:1;top: 50%;"
    data-_theend="opacity:1;top: 150%;"
    >
        <div class="blank"
        data-_rubicon-1000="width:373px;"
        data-_build-500="width:0px;"
    ></div>
    </div>

<!-- Build -->

<div

class="build"
data-_rubicon-1000="left:100%;top:0%;"
data-_build="left:0%;top:0%;"
data-_theend--500="left:0%;top:0%;"
data-_theend="left:0%;top:100%;"
>
    <div class="narrative"
        data-0="left:100%;opacity:0;top:15%;"
        data-_rubicon-1000="left:100%;opacity:0;top:15%;"
        data-_build="left:50%;opacity:1;top:15%;"
        data-_theend--500="top:15%;"
        data-_theend="top: 150%;"
    >
        <h2>Building Great Apps IS Rocket Science</h2>
        <p>This is why CodeEnvy comes with a great arsenal of tools</p>
    </div>
</div>

<!-- The End -->

<div
class="theend"
data-_theend--500="top:-120%;"
data-_theend="top:0%;"
>
    <div class="narrative"
        data-_theend--500="opacity:0;"
        data-_theend="opacity:1;"
    >
        <h2>Thanks for scrolling. Now go build something great.</h2>
        <a href="#">Start Building</a>
        <a href="#">Spread the word</a>
    </div>
</div>
