/*
 * CODENVY CONFIDENTIAL
 * __________________
 *
 *  [2012] - [2015] Codenvy, S.A.
 *  All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Codenvy S.A. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Codenvy S.A.
 * and its suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Codenvy S.A..
 */
.permissionsIndicator {
    padding: 0 2px;
    color: #E7E7E7;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 1);
    font-family: mainFontFamily;
    font-size: 8pt;
    margin: 2px;
    cursor: pointer;
}

.permissionsIndicatorReadOnly {
    background-color: #efae00;
    text-shadow: none;
}

.permissionsIndicator span {
    vertical-align: middle;
}

.permissionsIndicator svg {
    height: 16px;
    width: 16px;
    margin-right: 5px;
    vertical-align: middle;
    fill: #E7E7E7;
}

.permissionsIndicatorTooltip {
    font-family: mainFontFamily;
    font-size: 8pt;
    position: fixed;
    z-index: 7;
    border-top: 1px solid #2D2D2D;
    cursor: default;
}

.permissionsIndicatorTooltip > div:first-child {
    height: 12px;
    position: absolute;
    width: 100%;
    top: -12px;
}

.permissionsIndicatorTooltip:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 10px solid;
    border-color: transparent transparent #2D2D2D transparent;
    top: -20px;
    right: 45px;
}

.permissionsIndicatorTooltipHeader {
    font-size: 9pt;
    font-weight: bold;
    background: #2D2D2D;
    border-bottom: 1px solid #595959;
    border-top: 1px solid #2D2D2D;
    padding: 3px 20px;
}

.permissionsIndicatorTooltipHeader svg {
    width: 15px;
    height: 15px;
    fill: #DBDBDB;
    vertical-align: middle;
    margin-right: 10px;
}

.permissionsIndicatorTooltipHeader span {
    vertical-align: middle;
}

.permissionsIndicatorTooltipBody {
    background: #202020;
    padding: 10px 20px;
}

.permissionsIndicatorTooltipBody a {
    color: #52ade1;
    display: block;
    margin-top: 10px;
    cursor: pointer;
}

.permissionsIndicatorTooltipBodyMessageReadOnly {
    color: #efae00;
}