<form class="lpeRegForm formNotEmpty light" method="post" enctype="application/x-www-form-urlencoded" action="http://learn.exoplatform.com/index.php/leadCapture/save" id="mktForm_1133" name="mktForm_1133">
    <ul class="mktLblLeft">

        <div class="row">
            <div class="span6">
                <li class="mktFormReq mktField">
                    <label>
                        First Name:
                        <span class="required">*</span>
                    </label>
                    <span class="mktInput">
                        <input class="mktFormText mktFormString mktFReq" name="FirstName" id="FirstName" type="text" value="" maxlength="255" tabindex="1">
                        <span class="mktFormMsg"></span>
                    </span>
                </li>
            </div>

            <div class="span6">
                <li class="mktFormReq mktField">
                    <label>
                        Last Name:
                        <span class="required">*</span>
                    </label>
                    <span class="mktInput">
                        <input class="mktFormText mktFormString mktFReq" name="LastName" id="LastName" type="text" value="" maxlength="255" tabindex="2">
                        <span class="mktFormMsg"></span>
                    </span>
                </li>
            </div>

        </div>

        <div class="row">
            <div class="span6">

                <li class="mktFormReq mktField">
                    <label>
                        Email Address:
                        <span class="required">*</span>
                    </label>
                    <span class="mktInput">
                        <input class="mktFormText mktFormEmail mktFReq" name="Email" id="Email" type="text" value="" maxlength="255" tabindex="3">
                        <span class="mktFormMsg"></span>
                    </span>
                </li>
            </div>
            <div class="span6">

                <li  class='mktField' >
                <label>Reason for Contact:</label>
                <span class='mktInput'>
                  <select class='mktFormSelect' name="CE_Contact_Reason__c" id="CE_Contact_Reason__c" size='1'   tabIndex='8'>
                    <option value='--Please Select--' selected='selected'>--Please Select--</option>
                    <option value='Sales'>Sales</option>
                    <option value='Support'>Support</option>
                    <option value='Partner'>Partner</option>
                    <option value='ISV Features'>ISV Features</option>
                    <option value='Other'>Other</option>
                  </select>
                  <span class='mktFormMsg'></span>
                </span>
              </li>
            </div>
        </div>

        <div class="row">

            <div class="span6">
                <li class="mktFormReq mktField">
                    <label>
                        Phone Number:
                        <span class="required">*</span>
                    </label>
                    <span class="mktInput">
                        <input class="mktFormText mktFormPhone mktFReq" name="Phone" id="Phone" type="text" value="" maxlength="255" tabindex="4">
                        <span class="mktFormMsg"></span>
                    </span>
                </li>
            </div>

            <div class="span6">
                <li class="mktField">
                    <label>Company Name:</label>
                    <span class="mktInput">
                        <input class="mktFormText mktFormString" name="Company" id="Company" type="text" value="" maxlength="255" tabindex="5">
                        <span class="mktFormMsg"></span>
                    </span>
                </li>
            </div>
        </div>

        <li class="mktField">
            <label>Message:</label>
            <span class="mktInput">
                <textarea class="mktFormTextarea mktFormTextarea" name="Cloud_IDE_Contact_Us_Message__c" id="Cloud_IDE_Contact_Us_Message__c" cols="20" rows="4" tabindex="8"></textarea>
                <span class="mktFormMsg"></span>
            </span>
        </li>

        <li class="mktField" style="display: none;">
            <label>Lead Source:</label>
            <span class="mktInput">
                <input class="mktFormHidden" name="LeadSource" id="LeadSource" type="hidden" value="">
                <span class="mktFormMsg"></span>
            </span>
        </li>
        <li class="mktField" style="display: none;">
            <label>CE Lead Source Detail:</label>
            <span class="mktInput">
                <input class="mktFormHidden" name="CE_Lead_Source_Detail" id="CE_Lead_Source_Detail" type="hidden" value="Codenvy Contact Us Form">
                <span class="mktFormMsg"></span>
            </span>
        </li>

        <li id="mktFrmButtons">
            <div class="buttonSubmit">
                <div class="row">
                    <div class="span6">
                        <input id="mktFrmSubmit" type="submit" class="light-button" value="Send" name="submitButton" onclick="formSubmit(document.getElementById(&quot;mktForm_1133&quot;)); return false;"></div>

                    <div class="span6">
                        <input class="light-button" id="mktFrmReset" type="reset" value="Clear Form" name="resetButton" onclick="formReset(document.getElementById(&quot;mktForm_1133&quot;)); return false;"></div>
                </div>
            </div>
        </li>
    </ul>
    <span style="display:none;"><input type="text" name="_marketo_comments" value=""></span>
    <input type="hidden" name="lpId" value="-1">
    <input type="hidden" name="subId" value="46">
    <input type="hidden" name="munchkinId" value="577-PCT-880">
    <input type="hidden" name="kw" value="">
    <input type="hidden" name="cr" value="">
    <input type="hidden" name="searchstr" value="">
    <input type="hidden" name="lpurl" value="http://learn.exoplatform.com/CodenvyContact.html?cr={creative}&amp;kw={keyword}">
    <input type="hidden" name="formid" value="1133">
    <input type="hidden" name="returnURL" value="contact-thankyou.html">
    <input type="hidden" name="retURL" value="contact-thankyou.html">
    <input type="hidden" name="returnLPId" value="1643">
    <input type="hidden" name="_mkt_disp" value="return">
    <input type="hidden" name="_mkt_trk" value="">
</form>

<script src="scripts/vendor/jquery.min.js"></script>

<script type="text/javascript" src="http://learn.exoplatform.com/js/mktFormSupport.js"></script>

<script type="text/javascript">

    function formSubmit(elt) {
        var leadSource=document.getElementById('LeadSource');
        leadSource.value= window.location.href;
        return Mkto.formSubmit(elt);
    }

    function formReset(elt) {
        return Mkto.formReset(elt);
    }

    function fieldValidate(field) {
        /* call Mkto.setError(field, message) and return false to mark a field value invalid */
        /* return 'skip' to bypass the built-in validations */
        return true;
    }
    function getRequiredFieldMessage(domElement, label) {
        return "This field is required.";
    }
    function getTelephoneInvalidMessage(domElement, label) {
        return "Please enter a valid telephone number.";
    }
    function getEmailInvalidMessage(domElement, label) {
        return "Please enter a valid email address.";
    }

</script>