version: '2'
services:
  docs:
    build: .
    image: ${IMAGE_NAME}
    ports:
      - "${JEKYLL_BIND_PORT}4000"
      - "22"
    container_name: ${CONTAINER_NAME}
    network_mode: "bridge"