.factory-commands-panel md-icon
  font-size 18px
  height auto
  width auto
  color $clear-foggy-sky-color
  line-height 18px


.factory-commands-panel .che-input
  margin-right 20px

.factory-commands-widget-commandline
  outline none

.factory-commands-widget-actionicons
  outline none
  cursor pointer
  margin-left 10px
