/*
 * CODENVY CONFIDENTIAL
 * __________________
 *
 *  [2012] - [2015] Codenvy, S.A.
 *  All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Codenvy S.A. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Codenvy S.A.
 * and its suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Codenvy S.A..
 */
body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #474747;
}

.container {
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
    padding: 15px;
    font-family: "Helvetica Neue", Helvetica,Arial, "Lucida Grande", sans-serif;
    font-size: 11px;
    color: #DBDBDB;
}

.content {
    position: relative;
}

.content a:link,
.content a:visited {
    color: #DBDBDB;
    font-family: "Helvetica Neue", Helvetica,Arial, "Lucida Grande", sans-serif;
    font-size: 11px;
    font-weight:normal;
}

.main-icon {
   text-align:center; 
}

hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
    background-image:    -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
    background-image:     -ms-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
    background-image:      -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
}

button {
  background: #515151;
  
  border-width: 1px;
  border-style: solid;
  border-color: rgba(12, 12, 13, 0.7);
  border-radius: 1px;
  
  color: rgba(255, 255, 255, 1);
  
  margin: 5px;
  padding: 10 15px;
  
  height: 28px;
  min-width: 65px;
  
  cursor: pointer;
  outline: 0;
  
  font-size: 12px;
  font-family: "Helvetica Neue", "Myriad Pro", arial, Verdana, Verdana, sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

button:HOVER{
    background: #616161;
}

button:ACTIVE{
    box-shadow: inset 0 0 5px #000;
}

.features {
    width:100%;
    border-collapse:collapse;
}

.features a:link {
    font-family: "Helvetica Neue", Helvetica,Arial, "Lucida Grande", sans-serif;
    font-size: 11px;
    font-weight:bold;
    color: #DBDBDB;
}

.features a:visited {
    font-family: "Helvetica Neue", Helvetica,Arial, "Lucida Grande", sans-serif;
    font-size: 11px;
    font-weight:bold;
    color: #DBDBDB;
}

.features-cell1 {
    overflow:hidden;
    width:50px;
    height:30px;
    vertical-align:middle;
    text-align:center;
}

.features-cell2 {
    font-family: "Helvetica Neue", Helvetica,Arial, "Lucida Grande", sans-serif;
    font-size: 11px;
    font-weight:bold;
    color: #DBDBDB;
}


/******************************************************************************
 * 
 * Accordeon styles
 * 
 ******************************************************************************/

.accordeon {
}

.accordeon .section {
  margin-bottom: 10px;
}

.accordeon .section .section-header {
  background-color: #353535;
  height: 32px;
  font-weight: bold;
  line-height: 22px;
  cursor: pointer;
  position: relative;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  box-shadow: inset 0 0 1px #FFFFFF;
}


.accordeon .section .section-header .header-index {
  color: #47afdd;
  border-style: solid;
  border-width: 1px;
  border-color: #a1a1a1;
  border-radius: 14px;
  text-align: center;
  position: absolute;
  left: 4px;
  top: 4px;
  width: 22px;
  height: 22px;
}

.accordeon .section .section-header .header-text {
  position: absolute;
  left: 34px;
  top: 5px;
  right: 4px;
}

.accordeon .section .section-body {
  overflow: hidden;
  height: 0px;
  transition: height 0.5s ease;
}

.accordeon .section .section-body .section-content {
  background-color: #595959;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  padding: 10px;
  margin-top: 5px;
}

.accordeon .section-active .section-header {
}

.accordeon .section-active .section-body {
  height: auto;
}



::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    min-height: 28px;
    padding-top: 100px;
    background-clip: padding-box;
    background-color: rgba(178, 178, 178, 0.2);
    -webkit-box-shadow: inset 1px 1px 0 rgba(178, 178, 178, 0.1), inset 0 -1px 0 rgba(178, 178, 178, 0.07);
}

::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

