<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; box-sizing: border-box; font-size: 14px; margin: 0; padding: 0;">
<head>
<meta name=" viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<span th:inline="text">Your credit card ([[${creditCard.type}]] ending ...[[${#strings.substring(creditCard.Number,12,16)}]]) was not able to be charged this month.</span><br/>

<span><strong  th:inline="text">You currently owe $[[${invoice.total}]] and you not be allowed to build or run your projects until the invoice below is paid.</strong> If you wish to pay now you can do so with the <a href="/dashboard">User Dashboard</a>.</span><br/>
<table style="border: 1px solid grey; border-collapse: collapse;">
    <tbody>
    <tr>
        <td  th:if="${creditCard != null}" style="border: 1px solid grey; padding: 5px;">
        <p><strong>Billed to:</strong></p>
        <p>
          <span th:text="${creditCard.cardholder}">Brad Micklea</span><br/>
          <span><a th:text="${email}" th:href="@{mailto:${email}}" href="mailto:bmicklea@codenvy.com" rel="nofollow">bmicklea@codenvy.com</a></span><br/>
          <span th:text="${creditCard.streetAddress}">334 Pacific Ave</span><br/>
          <span th:text="${creditCard.city} + ', ' + ${creditCard.state}">Toronto, ON</span><br/>
          <span th:text="${creditCard.country}">Canada</span><br/>
        </p>
        </td>
        <td style="border: 1px solid grey; padding: 10px;">
            <p><strong th:text="'Receipt Total: $' + ${invoice.total}">Receipt Total: $69.79</strong></p>

             <p><span th:if="${creditCard != null}" th:text="'Charged to: ' + ${creditCard.type} + ' ending ...' + ${#strings.substring(creditCard.Number,12,16)}">Charged to: VISA ending ...2547</span><br/>
                <span th:text="'Receipt Date: ' + ${#dates.format(sendDate, 'dd-MMM-yyyy')}">Receipt Date: 2-Jan-2015</span><br/>
                <span th:text="'Receipt ID: ' + ${invoice.id}">Receipt ID: 123</span><br/>
                <span th:text="'Usage Period: ' + ${#dates.format(fromDate, 'MMM,dd')} + ' - ' + ${#dates.format(untilDate, 'MMM,dd')}">Usage Period: December, 2014</span>&nbsp;
            </p>
        </td>
    </tr>
    </tbody>
</table>
<br/>
<table style="border: 1px solid grey; border-collapse: collapse;">
    <thead style="background: #ccc;">
    <tr>
        <th data-column="0" colspan="1" style="border: 1px solid grey; padding: 10px;">
            <div>Usage</div>
        </th>
        <th data-column="1" style="text-align: right; border: 1px solid grey; padding: 10px;" >
            <div>GB Hours</div>
        </th>
        <th data-column="2" style="text-align: right; border: 1px solid grey; padding: 10px;">
            <div>USD / GB Hour</div>
        </th>
        <th data-column="3" style="text-align: right; border: 1px solid grey; padding: 10px;">
            <div>Total</div>
        </th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td style="text-align: right; border: 1px solid grey; padding: 10px;"><strong><span style="color: rgb(0,51,102);">Total Chargeable Usage</span></strong></td>
        <td style="text-align: right; border: 1px solid grey; padding: 10px;"><strong><span th:text="${#numbers.formatDecimal((factoryCharge == null ? 0.00 : factoryCharge.paidAmount) + (factoryCharge == null ? 0.00 : factoryCharge.freeAmount) + (saasCharge == null ? 0.00 : saasCharge.paidAmount)  + (saasCharge == null ? 0.00 : saasCharge.freeAmount), 1, 6)}" style="color: rgb(0,51,102);">1,215.40</span></strong></td>
        <td style="text-align: right; border: 1px solid grey; padding: 10px;"><strong th:text="'$' + (${saasCharge != null} ? ${#numbers.formatDecimal(saasCharge.paidPrice, 1, 2)} : '0.00')">$0.15</strong></td>
        <td style="text-align: right; border: 1px solid grey; padding: 10px;"><strong><span th:text="'$' + ${#numbers.formatDecimal(invoice.total, 1, 2)}" style="color: rgb(0,51,102);">$182.31</span></strong></td>
    </tr>
    <!--/*
    <tr>
        <td colspan="1" style="text-align: right; border: 1px solid grey; padding: 10px;">Tracked Factory Free Hours</td>
        <td th:text="${factoryCharge != null} ? ${#numbers.formatDecimal(factoryCharge.freeAmount, 1, 6)} : '0.000000'" colspan="1" style="text-align: right; border: 1px solid grey; padding: 10px;">100.00</td>
        <td colspan="1" style="text-align: right; border: 1px solid grey; padding: 10px;">&nbsp;</td>
        <td colspan="1" style="text-align: right; border: 1px solid grey; padding: 10px;">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="1" style="text-align: right; border: 1px solid grey; padding: 10px;">Tracked Factory Chargeable Hours</td>
        <td th:text="${factoryCharge != null} ? ${#numbers.formatDecimal(factoryCharge.paidAmount, 1, 6)} : '0.000000'" colspan="1" style="text-align: right; border: 1px solid grey; padding: 10px;">750.20</td>
        <td colspan="1" style="text-align: right; border: 1px solid grey; padding: 10px;">&nbsp;</td>
        <td colspan="1" style="text-align: right; border: 1px solid grey; padding: 10px;">&nbsp;</td>
    </tr>
    */-->
    <tr>
        <td colspan="1" style="text-align: right; border: 1px solid grey; padding: 10px;">SaaS Monthly Free Hours</td>
        <td th:text="${saasCharge != null} ? ${#numbers.formatDecimal(saasCharge.freeAmount, 1, 6)} : '0.000000'" colspan="1" style="text-align: right; border: 1px solid grey; padding: 10px;">10.00</td>
        <td colspan="1" style="text-align: right; border: 1px solid grey; padding: 10px;">&nbsp;</td>
        <td colspan="1" style="text-align: right; border: 1px solid grey; padding: 10px;">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="1" style="text-align: right; border: 1px solid grey; padding: 10px;">SaaS Chargeable Hours</td>
        <td th:text="${saasCharge != null} ? ${#numbers.formatDecimal(saasCharge.paidAmount, 1, 6)} : '0.000000'" colspan="1" style="text-align: right; border: 1px solid grey; padding: 10px;">465.20</td>
        <td colspan="1" style="text-align: right; border: 1px solid grey; padding: 10px;">&nbsp;</td>
        <td colspan="1" style="text-align: right; border: 1px solid grey; padding: 10px;">&nbsp;</td>
    </tr>
    </tbody>
</table>
<br/>

<table th:if="${saasCharge != null}" style="border: 1px solid grey; border-collapse: collapse;">
    <thead style="background: #ccc;">
    <tr>
        <th data-column="0" colspan="1" style="text-align: right; border: 1px solid grey; padding: 10px;">
            <div>SaaS Usage By Workspace</div>
        </th>
        <th data-column="1" style="text-align: right; border: 1px solid grey; padding: 10px;">
            <div>GB Hours</div>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td style="text-align: right; border: 1px solid grey; padding: 10px;"><strong><span style="color: rgb(0,51,102);">Total SaaS Monthly Usage</span></strong></td>
        <td style="text-align: right; border: 1px solid grey; padding: 10px;"><strong><span th:text="${#numbers.formatDecimal(saasCharge.paidAmount + saasCharge.freeAmount, 1, 6)}" style="color: rgb(0,51,102);">475.20</span></strong></td>
    </tr>
    <tr th:each="ws : ${saasCharge.details}">
        <td th:text="${ws.key}" colspan="1" style="text-align: right; border: 1px solid grey; padding: 10px;">Workspace 1</td>
        <td th:text="${ws.value}" colspan="1" style="text-align: right; border: 1px solid grey; padding: 10px;">443.12</td>
    </tr>
    </tbody>
</table>
<br/>

<!--/*
<table th:if="${factoryCharge != null}" style="border: 1px solid grey; border-collapse: collapse;" >
    <thead style="background: #ccc;">
    <tr>
        <th data-column="0" colspan="1" style="text-align: right; border: 1px solid grey; padding: 10px;">
            <div>Tracked Factory Usage By Workspace</div>
        </th>
        <th data-column="1" style="text-align: right; border: 1px solid grey; padding: 10px;">
            <div>GB Hours</div>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td style="text-align: right; border: 1px solid grey; padding: 10px;"><strong><span style="color: rgb(0,51,102);">Total Tracked Factory Monthly Usage</span></strong></td>
        <td style="text-align: right; border: 1px solid grey; padding: 10px;"><strong><span th:text="${#numbers.formatDecimal(factoryCharge.paidAmount + factoryCharge.freeAmount, 1, 6)}" style="color: rgb(0,51,102);">850.20</span></strong></td>
    </tr>
    <tr th:each="project : ${factoryCharge.details}">
        <td th:text="${project.key}" colspan="1" style="text-align: right; border: 1px solid grey; padding: 10px;">Project 1 (TF URL)</td>
        <td th:text="${project.value}" colspan="1" style="text-align: right; border: 1px solid grey; padding: 10px;">843.12</td>
    </tr>
    </tbody>
</table>
*/-->
</body>
</html>
