<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Codenvy receipt</title>
</head>
<body style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0 20 0 0; padding: 0;">
<span th:inline="text">We're writing to provide you with an electronic invoice for your use of Codenvy - we were unable to charge your credit card([[${creditCard.type}]] ending ...[[${#strings.substring(creditCard.Number,12,16)}]]) for the outstanding balance below.</span><br/>

<span><strong  th:inline="text">You currently owe $[[${#numbers.formatDecimal(invoice.total, 1, 2)}]] and you not be allowed to build or run your projects until the invoice below is paid.</strong> If you wish to pay now you can do so with the <a href="/dashboard">User Dashboard</a>.</span><br/>
<br/>
<span th:inline="text">If you have any concerns about this receipt please email us at <a href="mailto:account-help@codenvy.com">account-help@codenvy.com</a></span>
<p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 13px; margin: 0 0 20px 0; color: #595959;">
    <br/>
    Regards,
    <strong
        style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 13px; font-weight: bold; color:#595959; margin: 0; display: block;">The
        Codenvy Team</strong>
</p>
</span>
<table style="border: 1px solid grey; border-collapse: collapse;">
    <tbody>
    <tr>
        <td  th:if="${creditCard != null}" style="border: 1px solid grey; padding: 10px;">
        <p><strong>Billed to:</strong></p>
            <p>
                <span th:text="${creditCard.cardholder}">Brad Micklea</span><br/>
                <span><a th:text="${email}" th:href="@{mailto:${email}}" href="mailto:bmicklea@codenvy.com" rel="nofollow">bmicklea@codenvy.com</a></span><br/>
                <span th:text="${creditCard.streetAddress} != null ? ${creditCard.streetAddress} :'' ">334 Pacific Ave</span><br/>
                <span th:text="(${creditCard.city} != null ? ${creditCard.city} : '') + ((${creditCard.city} != null and ${creditCard.state} != null) ? ', ' : '') + (${creditCard.state} != null ? ${creditCard.state} : '')">Toronto, ON</span><br/>
                <span th:text="${creditCard.country} != null ? ${creditCard.country} : '' ">Canada</span><br/>
            </p>
        </td>
        <td style="border: 1px solid grey; padding: 10px;">
            <p><strong th:text="'Receipt Total: $' + ${invoice.total}">Receipt Total: $69.79</strong></p>

             <p><span th:if="${creditCard != null}" th:text="'Charged to: ' + ${creditCard.type} + ' ending ...' + ${#strings.substring(creditCard.Number,12,16)}">Charged to: VISA ending ...2547</span><br/>
                <span th:text="'Receipt Date: ' + ${#dates.format(sendDate, 'dd-MMM-yyyy')}">Receipt Date: 2-Jan-2015</span><br/>
                <span th:text="'Receipt ID: ' + ${invoice.id}">Receipt ID: 123</span><br/>
                <span th:text="'Usage Period: ' + ${#dates.format(fromDate, 'MMM,dd')} + ' - ' + ${#dates.format(tillDate, 'MMM,dd')}">Usage Period: December, 2014</span>&nbsp;
            </p>
        </td>
    </tr>
    </tbody>
</table>
<br/>
<table style="border: 1px solid grey; border-collapse: collapse;">
    <thead style="background: #ccc;">
    <tr>
        <th colspan="1" style="border: 1px solid grey; padding: 10px;">
            <div>Monthly SaaS Usage</div>
        </th>
        <th style="text-align: right; border: 1px solid grey; padding: 10px;" >
            <div>GBH Available</div>
        </th>
        <th style="text-align: right; border: 1px solid grey; padding: 10px;" >
            <div>GBH Used</div>
        </th>
        <th style="text-align: right; border: 1px solid grey; padding: 10px;">
            <div>USD / GB Hour</div>
        </th>
        <th style="text-align: right; border: 1px solid grey; padding: 10px;">
            <div>Total</div>
        </th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td style="text-align: left; border: 1px solid grey; padding: 10px;"><strong><span style="color: rgb(0,51,102);">Total Charged</span></strong></td>
        <td style="text-align: right; border: 1px solid grey; padding: 10px;"></td>
        <td style="text-align: right; border: 1px solid grey; padding: 10px;"><strong><span th:text="${#numbers.formatDecimal((saasCharge == null ? 0.00 : saasCharge.paidAmount), 1, 6)}" style="color: rgb(0,51,102);">1,215.40</span></strong></td>
        <td style="text-align: right; border: 1px solid grey; padding: 10px;"><strong th:text="'$' + (${saasCharge != null} ? ${#numbers.formatDecimal(saasCharge.paidPrice, 1, 2)} : '0.00')">$0.15</strong></td>
        <td style="text-align: right; border: 1px solid grey; padding: 10px;"><strong><span th:text="'$' + ${#numbers.formatDecimal(invoice.total, 1, 2)}" style="color: rgb(0,51,102);">$182.31</span></strong></td>
    </tr>

    <tr>
        <td colspan="1" style="text-align: left; border: 1px solid grey; padding: 10px;">Chargeable Usage</td>
        <td style="text-align: right; border: 1px solid grey; padding: 10px;">(unlimited)</td>
        <td th:text="${saasCharge != null} ? ${#numbers.formatDecimal(saasCharge.paidAmount, 1, 6)} : '0.000000'" colspan="1" style="text-align: right; border: 1px solid grey; padding: 10px;">465.20</td>
        <td colspan="1" style="text-align: right; border: 1px solid grey; padding: 10px;"><span th:text="'$' + (${saasCharge != null} ? ${#numbers.formatDecimal(saasCharge.paidPrice, 1, 2)} : '0.00')">$0.15</span></td>
        <td colspan="1" style="text-align: right; border: 1px solid grey; padding: 10px;"><span th:text="'$' + ${#numbers.formatDecimal(invoice.total, 1, 2)}" style="color: rgb(0,51,102);">$182.31</span></td>
    </tr>
    <!--tr th:if="${saasCharge.prePaidAmount != 0}">
        <td colspan="1" style="text-align: left; border: 1px solid grey; padding: 10px;">SaaS Monthly Subscription Hours	</td>
        <td th:text="${#numbers.formatDecimal(saasCharge.prePaidAmount, 1, 6)}" colspan="1" style="text-align: right; border: 1px solid grey; padding: 10px;">6000.00</td>
        <td colspan="1" style="text-align: right; border: 1px solid grey; padding: 10px;">&nbsp;</td>
        <td colspan="1" style="text-align: right; border: 1px solid grey; padding: 10px;">Pre-paid</td>
    </tr-->
    <tr>
        <td colspan="1" style="text-align: left; border: 1px solid grey; padding: 10px;">Free Usage</td>
        <td th:text="${#numbers.formatDecimal(freeLimit, 1, 2)}" style="text-align: right; border: 1px solid grey; padding: 10px;">10.00</td>
        <td th:text="${saasCharge != null} ? ${#numbers.formatDecimal(saasCharge.freeAmount, 1, 6)} : '0.000000'" colspan="1" style="text-align: right; border: 1px solid grey; padding: 10px;">10.00</td>
        <td colspan="1" style="text-align: right; border: 1px solid grey; padding: 10px;">Free</td>
        <td colspan="1" style="text-align: right; border: 1px solid grey; padding: 10px;">$ 0.00</td>
    </tr>
    </tbody>
</table>
<br/>

<table th:if="${saasCharge != null}" style="border: 1px solid grey; border-collapse: collapse;">
    <thead style="background: #ccc;">
    <tr>
        <th colspan="1" style="text-align: right; border: 1px solid grey; padding: 10px;">
            <div>Usage By Workspace</div>
        </th>
        <th style="text-align: right; border: 1px solid grey; padding: 10px;">
            <div>GBH used</div>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td style="text-align: left; border: 1px solid grey; padding: 10px;"><strong><span style="color: rgb(0,51,102);">Monthly Total</span></strong></td>
        <td style="text-align: right; border: 1px solid grey; padding: 10px;"><strong><span th:text="${#numbers.formatDecimal(saasCharge.paidAmount + saasCharge.freeAmount + saasCharge.prePaidAmount, 1, 6)}" style="color: rgb(0,51,102);">475.20</span></strong></td>
    </tr>
    <tr th:each="ws : ${saasCharge.details}">
        <td th:text="${ws.key}" colspan="1" style="text-align: left; border: 1px solid grey; padding: 10px;">Workspace 1</td>
        <td th:text="${ws.value}" colspan="1" style="text-align: right; border: 1px solid grey; padding: 10px;">443.12</td>
    </tr>
    </tbody>
</table>
<br/>
<p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 13px; margin: 0 0 20px 0; color: #595959;">* This receipt only shows workspaces for which you are the Account Owner.  If you are a contributor to other workspaces they are not shown here and you are not responsible for their charges</p>
</body>
</html>
