.navbar-teams
  .navbar-subsection-item
    height 19px
    min-height 19px
    line-height 19px

    .md-button
      height 19px !important
      min-height 19px !important

      .navbar-item
        line-height 19px !important

        .navbar-icon
          height 19px !important
          line-height 19px !important
