<che-popup title="Invite More Developers"
           on-close="moreDevsDialogController.hide()">
  <ng-form name="moreDevsForm">
    <div class="more-devs-dialog" layout="column">

      <div layout="column"
           ng-if="moreDevsDialogController.currentStep === moreDevsDialogController.step.ONE">
        <div>In a team, the first 3 developers are free. Additional developers cost
          ${{moreDevsDialogController.oneDevCost}}/month/user.
        </div>

        <div class="title">
          Your Account Settings
        </div>
        <div>
          <div>Your account currently has {{moreDevsDialogController.teamHasSeats}} seats and
            {{moreDevsDialogController.teamHasDevs}} developers.
          </div>
          <div>You can invite {{moreDevsDialogController.teamHasSeats - moreDevsDialogController.teamHasDevs}}
            more developers to the team.
          </div>
        </div>

        <div class="title">
          Do you want to add more seats to your account?
        </div>
        <div>I need
          <input ng-model="moreDevsDialogController.value"
                 ng-form="ramForm"
                 class="value"
                 type="number"
                 ng-disabled="moreDevsDialogController.isLoading"
                 min="{{moreDevsDialogController.minValue}}"
                 ng-min="moreDevsDialogController.minValue"
                 max="{{moreDevsDialogController.maxValue}}"
                 ng-max="moreDevsDialogController.maxValue"/> more seats.
        </div>
      </div>

      <div layout="column"
           ng-if="moreDevsDialogController.currentStep === moreDevsDialogController.step.TWO">
        <div>Add your billing information to your account:</div>
        <card-info credit-card="moreDevsDialogController.creditCard"
                   credit-card-on-change="moreDevsDialogController.creditCardChanged(creditCard)"
                   credit-card-on-delete="moreDevsDialogController.creditCardDeleted()"></card-info>
      </div>

      <div layout="row" layout-align="end center" class="buttons-layout">
        <che-button-primary che-button-title="Continue"
                            ng-disabled="moreDevsForm.$invalid || moreDevsDialogController.isLoading"
                            ng-click="moreDevsDialogController.getMoreSeats()"></che-button-primary>
        <che-button-cancel-flat che-button-title="Cancel"
                                ng-click="moreDevsDialogController.hide()"
                                ng-disabled="moreDevsDialogController.isLoading"
                                tabindex="0"></che-button-cancel-flat>
      </div>

    </div>
  </ng-form>
</che-popup>

