/*
 * CODENVY CONFIDENTIAL
 * __________________
 * 
 *  [2012] - [2013] Codenvy, S.A. 
 *  All Rights Reserved.
 * 
 * NOTICE:  All information contained herein is, and remains
 * the property of Codenvy S.A. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Codenvy S.A.
 * and its suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Codenvy S.A..
 */
 
@import "compass/css3/images";

$background-color:#f3f3f3;

$text-color:#44484b;
$text-on-dark-color:#f3f3f3;

/** Styles for new profile page*/
$white-text:#FFFFFF;
$black-text:#000000;
/** */

$link-color:#44484b;
$footer-link-color:#8e979d;
$footer-link-hover-color:#595e62;
$header-link-color:#595e62;
$header-link-hover-color:#000000;
$header-link-special-hover-color:#7bbced;

$signin-button-outline:#cbcbcb;
$signup-button-outline:#8ECDF2;

$signup-button-color:#54aee1;
$signup-button-font-color:#8e979d;

$text-box-background-color:#313a48;
$text-box-drop-shadow-color:rgba(84,94,108,1);
$text-box-inset-shadow-color:rgba(35,40,52,1);
$text-box-font-color:rgba(251,251,251,1);
$text-box-placeholder-color:rgba(251,251,251,1);

$paragraph-color:#595e62;

$light-background-color: #fff;
$light-background-border: #d9dbdf;
$light-background-line: #e3e4e7;

$simple-screen-background: #595e62;
$loader-text-color:#f3f3f3;

$link-color-on-dark:#54aee1;

$container-border-color:#d7d7d7;

$blue-link-color:#54aee1;

@mixin light-button-gradient {
    $top-color:#fcfcfc; $bottom-color:#ededed;
    @include background-image(linear-gradient($top-color 10%,$bottom-color 66%));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$top-color', endColorstr='$bottom-color');
}

@mixin light-button-hover-gradient {
    background: #ededed;
}

@mixin light-button-active-gradient {
    $top-color:#bfbfbf; $bottom-color:#dedcdc;
    @include background-image(linear-gradient($top-color 0%,$bottom-color 100%));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$top-color', endColorstr='$bottom-color');
}


@mixin signup-button-gradient {
    $top-color:#88c8f9; $bottom-color:#54aee1;
    @include background-image(linear-gradient($top-color 28%,$bottom-color 63%));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$top-color', endColorstr='$bottom-color');
}

@mixin signup-button-hover-gradient {
    background: #7bbced;
}

@mixin signup-button-active-gradient {
    $top-color:#687396; $bottom-color:#9299ad;
    @include background-image(linear-gradient($top-color 0%,$bottom-color 100%));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$top-color', endColorstr='$bottom-color');
}

@mixin dark-container-gradient {
    @include background-image(linear-gradient(#233041 30%, #3e495a));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#233041', endColorstr='#3e495a');
}

@mixin shiny-text-gradient {
    background: -webkit-linear-gradient(#88c8f9 30%,#54aee1 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin blue-button-gradient {
    @include background-image(linear-gradient(#7bbced 33%, #54aee1 70%));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7bbced', endColorstr='#54aee1');
}

@mixin blue-button-gradient-highlight {
    @include background-image(linear-gradient(#c1e3fc 33%, #54aee1 70%));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c1e3fc', endColorstr='#54aee1');
}

@mixin gray-button-gradient {
    @include background-image(linear-gradient(#f7f7f7 50%, #d7e4ed 50%));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#d7e4ed');
}

@mixin gray-button-gradient-highlight {
    @include background-image(linear-gradient(#b3d5e8 0%, #f7f7f7 50%, #d7e4ed 50%));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3d5e8', endColorstr='#d7e4ed');
}

// @mixin light-button-gradient {
//     @include background-image(linear-gradient(#fdfdfd, #d8d9d9));
//     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#d8d9d9');
// }

// @mixin light-button-gradient-highlight {
//     @include background-image(linear-gradient(#fdfdfd,  #f2efef));
//     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#f2efef');
// }

@mixin light-gradient  {
    @include background-image(linear-gradient(#FFFFFF, #F7F7F7));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#F7F7F7');
}


// Noir et blanc:
// – Faux Black: #44484b
// – Sleek Grey: #595e62
// – Petit Grey: #8e979d
// – Lighty Light: #d6e3ed
// – Faux Blanc: #f3f3f3
// Counter color:
// – Boring Blue: #54aee1
// – Chillax Blue: #7bbced

