/*
 * CODENVY CONFIDENTIAL
 * __________________
 * 
 *  [2012] - [2013] Codenvy, S.A. 
 *  All Rights Reserved.
 * 
 * NOTICE:  All information contained herein is, and remains
 * the property of Codenvy S.A. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Codenvy S.A.
 * and its suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Codenvy S.A..
 */
 
/* ==========================================================================
   Forms
   ========================================================================== */

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
    border: 0; /* 1 */
    padding: 0; /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */

button,
input,
select,
textarea {
    font-family: inherit; /* 1 */
    margin: 0; /* 3 */
    width: 100%;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input,
select {
    width: 100%;
    //line-height: normal;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
    @include input-element-text();
    @include input-textbox-padding();
}

/**
 * end of normalize
*/

form {
    text-align:center;
    padding: 20px 5px 25px 5px;
    position: relative;
}

form .field {
    padding: 10px;
    position: relative;
}

/**
 * Profile form
*/    
.profile-form .field {
    padding: 10px;
    position: relative;
    font-size: 14px;
}
.profile-form .field p {
    color: $white-text;
    text-align: left;
    padding: 0px 0px 6px 0px;
    margin: 0px;
    font-size: 14px;
    font-weight: bold;
    }
.profile-form input[type='text'],
.profile-form  select,
.profile-form  input[type='password'],
.profile-form  select option {
    /** @include input-element-text(); */
    color: $white-text;
    font-size: 0.875em;
    font-weight: lighter;
    height: 2em;
    background-color: $text-box-background-color;
    border: none;
    color:$text-box-font-color;


    @include box-shadow(
        $text-box-drop-shadow-color 0px 1px 1px,
        $text-box-inset-shadow-color 0px 1px 1px inset
    );

    @include input-textbox-padding();
    
}

.profile-email p {
    color: $white-text;
    text-align: center;
    font-size: 0.875em;
    font-weight: normal;
    padding: 0px 0px 6px 0px;
    margin: 0px;
}

#account_value {
    color: $white-text;
    font-weight: bold;
}

.profile-form  input[type='submit'] {
    color: $black-text;
    font-size: 0.875em;
    font-weight: normal;
}

@mixin placeholder($color){
	::-webkit-input-placeholder {
    	color:$color;
	}
	:-moz-placeholder {
	    color:$color;
	}
	::-moz-placeholder {
	    color:$color;
	}
	:-ms-input-placeholder {
	    color:$color;
	}
}

input[type='text'],
select,
input[type='password'],
select option{
    @include input-element-text();

    height: 2em;
    background-color: $text-box-background-color;
    border: none;
    color:$text-box-font-color;

    @include box-shadow(
        $text-box-drop-shadow-color 0px 1px 1px,
        $text-box-inset-shadow-color 0px 1px 1px inset
    );

    @include input-textbox-padding();
}

@include placeholder($text-box-placeholder-color);


.error-container {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: auto;
    text-align: center;
    background-color: rgba(255,0,0,0.4);
    border-radius: 5px;
    padding-top: 10px;
    margin: 10px;
    z-index: 1;
    padding-bottom: 10px;
}

.error-container.ok-message {
    background-color: rgba(0, 255, 0, .4);
 }

.error-container.expanded {
    opacity: 1.0;
    @include transition(0.3s,ease-in,opacity,0.3s);
}


.working {
    text-align: center;
}

.working.hidden {
    display: none;
}

form.light {
    input[type='text'],
    input[type='password'],
    textarea {
        border:solid 1px #d0d0d0;
        background-color:#fbfbfb;
        font-weight: 300; color:#8e979d;
        @include box-shadow(none);
    }
}


/* Marketo Form */

.lpeRegForm {
    padding: 5px;
}

.lpeRegForm ul {
    padding: 0;
}

.lpeRegForm li {
    list-style: none;
}

.lpeRegForm label {
    text-align: left;
    margin: 15px 0 5px 0;
    display: block;
}

.lpeRegForm .buttonSubmit {
    margin: 15px 0;
}

.lpeRegForm .required {
    color: red;
}

.lpeRegForm .mktFormMsg {
    display: block;
    text-align: left;
    font-size: 0.8em;
    padding-top: 5px;
    color: red;
}


