/*
 * CODENVY CONFIDENTIAL
 * __________________
 * 
 *  [2012] - [2013] Codenvy, S.A. 
 *  All Rights Reserved.
 * 
 * NOTICE:  All information contained herein is, and remains
 * the property of Codenvy S.A. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Codenvy S.A.
 * and its suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Codenvy S.A..
 */
 
@import "assets";
@import "colors";
@import "compass/utilities/general/clearfix";
@import "compass/typography/lists/horizontal-list";
@import "compass/css3/images";

header {
  padding: 70px 0 18px 0;
}

nav {
    text-align: center;
}

.main-menu {
	@include horizontal-list;

	li {

        @include respond-to(tablet-desktop) {
            @include image_link_separator;
            padding-left: 17px;
            margin-left: 17px;
        }

        @include respond-to(mobile){
            margin-left: 1.5em;
        }

        padding-top: 6px;
        font-size: 0.9em;

        a {
            @include transition(0.2s,ease-in,color);
            color: $header-link-color;
        };

        a:hover{
            color: $header-link-hover-color;
        };
	}

    li:nth-child(1){
        a:hover{ color: $header-link-special-hover-color; };
        background: none;
    }

	overflow: visible;

    @include respond-to(mobile) {
        display: inline-block;
        margin-top: 1em;
        text-align: center;
        margin-left:-1.5em;
        li:last-child { display: none; }
    }
}

.span2.logo-wrapper{
    padding-top: 4px;
    @include respond-to(mobile){
        text-align: center;
    }
    img{
        display: inline;
    }
}


/*

    Focused

*/


.focused-logo {
    margin: 0 auto;
    width: 205px;
}

.header-signup-button {
    margin-right: 10px;
}

