/*
 * CODENVY CONFIDENTIAL
 * __________________
 * 
 *  [2012] - [2013] Codenvy, S.A. 
 *  All Rights Reserved.
 * 
 * NOTICE:  All information contained herein is, and remains
 * the property of Codenvy S.A. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Codenvy S.A.
 * and its suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Codenvy S.A..
 */
 
@import "compass/css3";
@import "behaviors";
@import "assets";
@import "colors";


.signup-form-wrapper {
    width: 335px;
    margin: 20px;
    padding-top: 11px;

    -webkit-animation: fadeIn 0.8s;
    -moz-animation: fadeIn 0.8s;
    -ms-animation: fadeIn 0.8s;
    -o-animation: fadeIn 0.8s;
    animation: fadeIn 0.8s; 
    
    h1 { padding-left: 16px; }
}

.signup-form {
    @include image_line_full;
    .domain-name {
        @include transition(0.3s,ease-in,opacity,0.3s);
    }
    .field {
        @include transition(0.3s,ease-in,opacity,0.3s);
    }
    min-height: 231px;
}

.hidden-text-box { opacity: 0; }

.signup-button {
    @include transition(0.2s,ease-in,opacity,0.3s);
}

.signup-terms {
    position: absolute;
    left: 33px;
    bottom: 5px;
    font-size: 0.8em;
    line-height: 1.1em;
    font-weight: 200;
    opacity: 0.7;
    color:$text-on-dark-color;
}
