/*
 * CODENVY CONFIDENTIAL
 * __________________
 * 
 *  [2012] - [2013] Codenvy, S.A. 
 *  All Rights Reserved.
 * 
 * NOTICE:  All information contained herein is, and remains
 * the property of Codenvy S.A. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Codenvy S.A.
 * and its suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Codenvy S.A..
 */
 
@import "compass/css3";
@import "compass/typography/lists/inline-block-list";

@import "config";
@import "utilities";
@import "assets";
@import "colors";
@import "typography";
@import "behaviors";
@import "buttons";
@import "form";
@import "header";
@import "footer";
@import "signup";
@import "grid";
@import "containers";
@import "components";

/*! normalize.css v2.0.1 | MIT License | git.io/normalize */

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined in IE 8/9.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */

audio,
canvas,
video {
    display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */

[hidden] {
    display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-family: 'Roboto', sans-serif;
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
    margin: 0;
    background-color: $background-color;
    color:$text-color;
    letter-spacing: $letter-spacing;
}

html, body {
    height: 100%;
}

/* ==========================================================================
   Links
   ========================================================================== */

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a {
    text-decoration: none;
    color:$link-color;
}

a:focus {
    //outline: thin dotted;
    outline: none;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

a.blue { color:$blue-link-color; }

/* ==========================================================================
   Typography
   ========================================================================== */

/**
 * Address variable `h1` font size within `section` and `article` contexts in
 * Firefox 4+, Safari 5, and Chrome.
 */

h1 {
    font-size: 2em;
    font-weight: 300;
    line-height: 1.3em;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */

b,
strong {
    font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */

dfn {
    font-style: italic;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
    background: #ff0;
    color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    // font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/**
 * Set consistent quote types.
 */

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
    // font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
    // font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9.
 */

img {
    border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */

svg:not(:root) {
    overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari 5.
 */

figure {
    margin: 0;
}

/* ==========================================================================
   Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* end Normalize */

.container.dark {
  background-image:none;
  background:#fff;
  color: #f3f3f3; }

.container.rounded {
    border-radius: 0px; }

  .light-button {
    background: none repeat scroll 0 0 #1E5278;
    border: 1px solid #1E5278;
    border-radius: 0px;
    color: #FFFFFF;
}

.light-button:hover {
	background: none repeat scroll 0 0 #1b4a6c;
}

::-webkit-input-placeholder {
  color: #6B757D;
  text-align:center;
  }

:-moz-placeholder {
  color: #6B757D;
  text-align:center;
  }

::-moz-placeholder {
  color: #6B757D;
  text-align:center;
  }

:-ms-input-placeholder {
  color: #6B757D;
  text-align:center;
  }
  
.login .content {
 color:#6b7379;
}  
input[type="text"], select, input[type="password"], select option {
    background-color: #F5F5F5;
    color: #6B757D;
    font-size: 1.2em;
    font-weight: 200;
    height: 2em;
    padding-left: 10px;
    border: 1px solid #E5E5E5;
    
}


.aternative-login, .aternative-create {
  background-image: none;
  background:#1e5278;
  margin: 10px -20px 0px;
  padding:30px 0;
}

body {
	background: #F3F3F3 url("../images/bg.jpg");
}

a:active,
a:hover {
  font-weight:bold; }

.oauth-button.google {
    background-image: url("../images/google.jpg");
    background-position:0% 0%;
}

.oauth-button.github {
    background-image: url("../images/github.jpg");
    background-position:0% 0%;
}

.footer-link {
    color: #ffffff;
    font-size: 0.9em;
    font-weight: 300;
}

.footer-link:hover {
    color: #ffffff;
}