<form name="actionsForm">
  <div class="factory-actions-panel" layout="column">
    <div layout="column" layout-align="start start">
      <div layout="row" layout-align="start start"
           class="factory-actions-input">
        <che-select che-option-values="factoryActionBoxCtrl.actions"
                    che-place-holder="Select action"
                    aria-label="Select action"
                    che-size="3"
                    che-value="factoryActionBoxCtrl.selectedAction">
        </che-select>
        <che-input che-name="value"
                   che-form="actionsForm"
                   che-place-holder="Enter value"
                   aria-label="Enter value"
                   required
                   ng-model="factoryActionBoxCtrl.selectedParam">
          <div ng-message="required">Param is required.</div>
        </che-input>
      </div>
      <che-button-primary che-button-title="Add"
                          ng-click="factoryActionBoxCtrl.addAction()"
                          ng-disabled="actionsForm.$invalid"></che-button-primary>
    </div>

    <div ng-if="factoryActionBoxCtrl.factoryObject.ide.onProjectsLoaded.actions.length > 0"
         class="factory-actions-list">
      <che-list-title che-icon="fa fa-tasks">
        <span class="projects-list-workspace-name">{{factoryActionBoxCtrl.actionTitle}}</span>
      </che-list-title>
      <che-list>
        <che-list-item ng-repeat="action in factoryActionBoxCtrl.factoryObject.ide.onProjectsLoaded.actions"
                       flex-gt-sm="100" flex-sm="33"
                       ng-mouseover="hover=true" ng-mouseout="hover=false">
          <div layout="row" flex>
            <div layout="column"
                 layout-align="start start"
                 class="factory-actions-row-action-name">
              <span>{{action.id}}</span>
            </div>
            <div flex layout-align="start start"
                 class="factory-actions-row-action-param"
                 ng-click="factoryActionBoxCtrl.editAction($event, $index)">
              {{action.properties.name ? action.properties.name : action.properties.file}}
            </div>
            <div flex="10" layout="row" layout-align="center start"
                 class="factory-actions-row-action-buttons">
              <md-icon ng-show="hover" class="factory-actions-widget-actionicons" md-font-icon="fa fa-times-circle"
                       ng-click="factoryActionBoxCtrl.removeAction($index)"></md-icon>
              <md-icon ng-show="hover" class="factory-actions-widget-actionicons" md-font-icon="fa fa-edit"
                       ng-click="factoryActionBoxCtrl.editAction($event, $index)"></md-icon>
            </div>
          </div>
        </che-list-item>
      </che-list>
    </div>
  </div>
</form>
