.factory-actions-panel-box .md-icon-actions
  font-size 24px
  height auto
  width auto
  color $clear-foggy-sky-color
  line-height 24px
  margin 10px
  outline none
  cursor pointer

.factory-actions-panel-box
  border-color $form-element-border-color
  background-color $background-color
  border-width 2px
  border-style solid
  che-border-radius(2px)
  -webkit-box-shadow 0 1px 1px rgba(0, 0, 0, 0.05)
  box-shadow 0 1px 1px rgba(0, 0, 0, 0.05)
  margin-bottom 20px

.factory-actions-panel-box-title
  background-color $form-element-border-color
  color $white-color
  padding 5px
