<md-dialog flex="50" class="factory-add-action-dialog">
  <form name="addActionForm">
    <che-panel che-title="Add Action">

      <md-dialog-content>

        <che-select che-label-name="Action"
                    che-option-values="factoryActionDialogAddCtrl.actions"
                    che-place-holder="Select action"
                    che-size="3"
                    che-value="factoryActionDialogAddCtrl.selectedAction">
        </che-select>
        <che-input focusable
                   che-name="value"
                   che-form="addActionForm"
                   che-label-name="Param"
                   che-place-holder="Enter value"
                   required
                   ng-model="factoryActionDialogAddCtrl.selectedParam">
          <div ng-message="required">Param is required</div>
        </che-input>
      </md-dialog-content>
      <div class="md-actions">
        <md-button ng-click="factoryActionDialogAddCtrl.abort()" tabindex="0" type="button">Cancel</md-button>
        <md-button class="md-primary" ng-click="factoryActionDialogAddCtrl.add()" ng-disabled="addActionForm.$invalid">Add</md-button>
      </div>
    </che-panel>
  </form>
</md-dialog>
