<div class="factory-actions-panel-box" layout="column">

  <div class="factory-actions-panel-box-title">{{factoryActionBoxCtrl.actionTitle}}</div>

  <div>
    <div layout="row" layout-align="center center">
      <che-button-primary che-button-title="Add"
                          ng-click="factoryActionBoxCtrl.addAction($event);"></che-button-primary>
    </div>
  </div>

  <md-divider ng-if="factoryActionBoxCtrl.factoryObject.ide[factoryActionBoxCtrl.lifecycle].actions.length > 0"></md-divider>
  <div ng-repeat="action in factoryActionBoxCtrl.factoryObject.ide[factoryActionBoxCtrl.lifecycle].actions">
    <!-- open File -->
    <cdvy-factory-action cdvy-action-group="{{factoryActionBoxCtrl.lifecycle}}"
                         cdvy-action-name="openFile"
                         cdvy-action-property="file"
                         cdvy-action="action"
                         cdvy-callback-controller="factoryActionBoxCtrl.callbackController"
                         cdvy-action-icon="fa fa-pencil-square-o"></cdvy-factory-action>
    <!-- Run Command -->
    <cdvy-factory-action cdvy-action-group="{{factoryActionBoxCtrl.lifecycle}}"
                         cdvy-action-name="runCommand"
                         cdvy-action-property="name"
                         cdvy-action="action"
                         cdvy-callback-controller="factoryActionBoxCtrl.callbackController"
                         cdvy-action-icon="fa fa-play"></cdvy-factory-action>
  </div>
</div>
